{{#partial "realTitle"}}礼品管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{#inject "points_present/present_manage" true}}
            {
            "type":"8",
            "channel":"JF"
            }
        {{/inject}}
    </div>
{{/partial}}
{{> views/index_layout}}