<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GoodsCommendModel">
    <resultMap id="GoodsCommendMap" type="GoodsCommendModel">
        <result property="id" column="id"/>
        <result property="ordertypeId" column="ordertype_id"/>
        <result property="commendType" column="commend_type"/>
        <result property="typeId" column="type_id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="goodsPaywayId" column="goods_payway_id"/>
        <result property="fixedFlag" column="fixed_flag"/>
        <result property="commendSeq" column="commend_seq"/>
        <result property="commendDesc" column="commend_desc"/>
        <result property="publishStatus" column="publish_status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createOper" column="create_oper"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyOper" column="modify_oper"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>
    <sql id="columns">
    id,ordertype_id,commend_type,type_id,goods_id,goods_payway_id,fixed_flag,commend_seq,commend_desc,publish_status,del_flag,create_oper,create_time,modify_oper,modify_time
    </sql>

    <insert id="insert" parameterType="GoodsCommendModel" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        insert into tbl_goods_commend
        (ordertype_id
        ,commend_type
        ,type_id
        ,goods_id
        ,goods_payway_id
        ,fixed_flag
        ,commend_seq
        ,commend_desc
        ,publish_status
        ,del_flag
        ,create_oper
        ,create_time
        ,modify_oper
        ,modify_time)
        values(#{ordertypeId}
        ,#{commendType}
        ,#{typeId}
        ,#{goodsId}
        ,#{goodsPaywayId}
        ,#{fixedFlag}
        ,#{commendSeq}
        ,#{commendDesc}
        ,#{publishStatus}
        ,#{delFlag}
        ,#{createOper}
        ,#{createTime}
        ,#{modifyOper}
        ,#{modifyTime})
    </insert>

    <update id="update" parameterType="GoodsCommendModel">
        update tbl_goods_commend set
            <if test="ordertypeId !=null">ordertype_id = #{ordertypeId}
                ,</if>
            <if test="commendType !=null">commend_type = #{commendType}
                ,</if>
            <if test="typeId !=null">type_id = #{typeId}
                ,</if>
            <if test="goodsId !=null">goods_id = #{goodsId}
                ,</if>
            <if test="goodsPaywayId !=null">goods_payway_id = #{goodsPaywayId}
                ,</if>
            <if test="fixedFlag !=null">fixed_flag = #{fixedFlag}
                ,</if>
            <if test="commendSeq !=null">commend_seq = #{commendSeq}
                ,</if>
            <if test="commendDesc !=null">commend_desc = #{commendDesc}
                ,</if>
            <if test="publishStatus !=null">publish_status = #{publishStatus}
                ,</if>
            <if test="delFlag !=null">del_flag = #{delFlag}
                ,</if>
            <if test="createOper !=null">create_oper = #{createOper}
                ,</if>
            <if test="createTime !=null">create_time = #{createTime}
                ,</if>
            <if test="modifyOper !=null">modify_oper = #{modifyOper}
                ,</if>
            <if test="modifyTime !=null">modify_time = #{modifyTime}
                </if>
        where id = #{id}
    </update>

    <sql id="conditions">
        <where>
            <if test="id !=null">and id = #{id}</if>
            <if test="ordertypeId !=null">and ordertype_id = #{ordertypeId}</if>
            <if test="commendType !=null">and commend_type = #{commendType}</if>
            <if test="typeId !=null">and type_id = #{typeId}</if>
            <if test="goodsId !=null">and goods_id = #{goodsId}</if>
            <if test="goodsPaywayId !=null">and goods_payway_id = #{goodsPaywayId}</if>
            <if test="fixedFlag !=null">and fixed_flag = #{fixedFlag}</if>
            <if test="commendSeq !=null">and commend_seq = #{commendSeq}</if>
            <if test="commendDesc !=null">and commend_desc = #{commendDesc}</if>
            <if test="publishStatus !=null">and publish_status = #{publishStatus}</if>
            <if test="delFlag !=null">and del_flag = #{delFlag}</if>
            <if test="createOper !=null">and create_oper = #{createOper}</if>
            <if test="createTime !=null">and create_time = #{createTime}</if>
            <if test="modifyOper !=null">and modify_oper = #{modifyOper}</if>
            <if test="modifyTime !=null">and modify_time = #{modifyTime}</if>
        </where>
    </sql>
    <select id="findById" parameterType="Map" resultMap="GoodsCommendMap">
       SELECT id,
        <include refid="columns"/>
        from tbl_goods_commend
       where id=#{id}
    </select>
    <select id="findAll" resultMap="GoodsCommendMap">
        select id,
        <include refid="columns"/>
        from tbl_goods_commend
        <include refid="conditions"/>
    </select>

    <select id="pager" parameterType="Map" resultMap="GoodsCommendMap">
        select id,
        <include refid="columns"/>
        from tbl_goods_commend
        <include refid="conditions"/>
        <![CDATA[ order by id desc limit #{offset}, #{limit} ]]>
    </select>
    <update id="delete" parameterType="GoodsCommendModel">
        update tbl_goods_commend
        set
        del_flag = 1,
        modify_time = now()
        where id = #{id}
    </update>

    <select id="findGoodsCommendsByTypeId" parameterType="Map" resultMap="GoodsCommendMap">
        select id,
        <include refid="columns"/>
        from tbl_goods_commend
        where type_id=#{brandId} and del_flag=0
    </select>

    <select id="countByBrandId" parameterType="Map" resultType="Long">
        select count(1)
        from tbl_goods_commend
        where type_id=#{brandId} and del_flag=0
    </select>

    <select id="findByGoodsId" parameterType="Map" resultMap="GoodsCommendMap">
        SELECT id,
        <include refid="columns"/>
        from tbl_goods_commend
        where goods_id=#{goodsId} and del_flag=0
    </select>

    <select id="findByModel" parameterType="Map" resultMap="GoodsCommendMap">
        SELECT id,
        <include refid="columns"/>
        from tbl_goods_commend
        where type_id=#{typeId} and commend_seq=#{commendSeq} and del_flag=0
    </select>
</mapper>


