.makecheckjob_error{
  .span-makecheckjob{
    padding: 0 5px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    width: 500px;
    text-align: right;
  }
}