{{#partial "realTitle"}}组件配置{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "components_config" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
