{{#partial "realTitle"}}积分池设置{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "mall_points/points_pool" true}}
    </div>
{{/partial}}
{{> views/index_layout}}