{{#partial "realTitle"}}积分优惠折扣比例设置{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "mall_points/points_deposit_rate" true}}
    </div>
{{/partial}}
{{> views/index_layout}}