{{#partial "realTitle"}}特殊积分兑换比率设置{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "mall_points/specialPoints_exchange_rate" true}}
    </div>
{{/partial}}
{{> views/index_layout}}