<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <!-- サービス名 -->
    <add key="ServiceName" value="HainsRecvGanatsuResult" />
    <!-- 表示名 -->
    <add key="ServiceDisplayName" value="HainsRecvGanatsuResult" />
    <!-- 説明 -->
    <add key="ServiceDescription" value="ニデック結果連携" />
    <!-- 依存するサービス（カンマ","で区切って複数のサービス名を指定できます） -->
    <add key="ServiceDependedOn" value="" />
    <!-- 受信ポート番号 -->
    <add key="ServerPort" value="5213" />
    <!-- ポーリング間隔（単位:ミリ秒） -->
    <add key="PollingInterval" value="1000" />
    <!-- ソケット受信タイムアウト（単位:ミリ秒） -->
    <add key="SocketRecieveTimeout" value="20000" />
    <!-- ソケット送信タイムアウト（単位:ミリ秒） -->
    <add key="SocketSendTimeout" value="20000" />
    <!-- 更新者 -->
    <add key="UpdUser" value="Raypax" />
    <!-- 発信元コード -->
    <add key="SendDataWsMei" value="FJ" />
    <!-- Web API のベースURL -->
    <add key="ApiUri" value="http://localhost:54756/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="File" name="InfoLog" fileName="C:/Hainsi/WindowsServices/Logs/HainsRecvGanatsuResult/info.log"
              layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}"
              archiveEvery="Day"
              archiveFileName="C:/Hainsi/WindowsServices/Logs/HainsRecvGanatsuResult/info_{#}.log"
              archiveNumbering="Date"
              archiveDateFormat="yyyyMMdd"
              maxArchiveFiles="30"/>
      <target xsi:type="File" name="ErrorLog" fileName="C:/Hainsi/WindowsServices/Logs/HainsRecvGanatsuResult/error.log"
              layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}"
              archiveEvery="Day"
              archiveFileName="C:/Hainsi/WindowsServices/Logs/HainsRecvGanatsuResult/error_{#}.log"
              archiveNumbering="Date"
              archiveDateFormat="yyyyMMdd"
              maxArchiveFiles="30"/>
    </targets>
    <rules>
      <logger name="*" levels="Info,Error" writeTo="InfoLog" />
      <logger name="*" levels="Error" writeTo="ErrorLog" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
