@charset "utf-8";
/* CSS Document */
/*** 覆盖 bootstrap body样式 start****/
body { background-color: transparent; }
label,
input,
button,
select,
textarea {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}
textarea{
	border:1px solid #CAE8FF;
	box-shadow: none;
	padding:0 5px;
}
.input-append input{
	font-size:12px;
}
.font14{
	font-size:14px;
}
/*** 覆盖 bootstrap body样式 start****/

/*** 覆盖 bootstrap 头部样式 start****/
.navbar .nav>li>a { padding: 0px;}
.navbar .brand {
	padding: 0;
	margin-left: 0;
}
.navbar .nav-collapse>.nav>.menu>a:focus,
.navbar .nav-collapse>.nav>.menu>a:hover { background: #ffa100; }
.navbar .nav>.dropdown>a:focus,
.navbar .nav>.dropdown>a:hover { background-color: transparent }
.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus { background: #ffa100; box-shadow:none; }
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner { border: none; }

.navbar .pull-right>li>.dropdown-menu:before, 
.navbar .nav>li>.dropdown-menu.pull-right:before{right:38px;}
.navbar .pull-right>li>.dropdown-menu:after, 
.navbar .nav>li>.dropdown-menu.pull-right:after{right:39px;}
/*** 覆盖 bootstrap 头部样式  end****/
.navbar {
	position: relative;
	width: 100%;
}
.navbar .navbar-inner {
	min-height: 36px;
	margin-top: 30px;
	background: #2195ff;
	margin-bottom:40px;
}
.navbar .brand {
	position: absolute;
	top: -14px;
	left: 10px;
	width: 324px;
	height: 64px;
	background: url(../img/logo.png) no-repeat center;
	text-indent: -9999em;
}
.navbar .nav { min-height: 36px; }
.navbar .nav>li {
	display: block;
	float: left;
	line-height: 36px;
}
.navbar .nav>li>a { padding: 0 10px; }
.nav-collapse {
	position:absolute;
	top:0;
	left:395px;
	
}
.nav-collapse>.nav>.menu {
	width: 130px;
	height: 36px;
	text-align: center;
}
.nav-collapse>.nav>.menu>a {
	display: block;
	height: 36px;
	font-size: 14px;
	color: #fff;
	line-height: 36px;
	text-decoration: none;
	transition: all .3s;
}
.nav-collapse>.nav>.menu>a>span {
	font-size: 14px;
	color: #fff;
}
.nav .dropdown {
	position: relative;
	width: 150px;
	padding-right: 10px;
}
.nav .dropdown + li{
	padding-right:30px;
}
.nav .dropdown .dropdown-toggle { text-align: right }
.dropdown-menu {
	position: absolute;
	top: 50px;
	right: 0;
	width: 100%;
	display: none;
}
.dropdown-menu>li { }
.dropdown-menu>li>a {
	display: block;
	padding: 0 10px;
	line-height: 35px;
	transition: all .3s;
}
.dropdown-menu li a:hover { background: rgba(0,0,0,0.3) }
/*** 覆盖 bootstrap 左侧菜单样式 start****/
.accordion { margin: 0; }
.accordion-group {
	margin-bottom: 0;
	border-top: solid 1px #b9dcff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-radius: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.accordion-heading { border-radius: 0; }
.accordion-heading .accordion-toggle { padding: 0 }
.accordion-inner .nav-list>.active>a,
.accordion-inner .nav-list>li>a:hover,
.accordion-inner .nav-list>.active>a:focus {
	background: #79c0ff;
	color: #fff;
	transition: all .3s;
}
/*** 覆盖 bootstrap 左侧菜单样式  end****/
.accordion {
	position: relative;
	background: #fff;
	border-right: solid 1px #90c9ff;
}
.accordion:before {
	position: absolute;
	top: 0;
	right: -1px;
	width: 1px;
	height: 140px;
	z-index: 0;
	background: url(../img/line-top.png) 0 -150px #fff;
	content: '';
}
.accordion:after {
	position: absolute;
	bottom: -20px;
	right: -1px;
	width: 1px;
	height: 200px;
	z-index: 0;
	background: url(../img/line-bottom.png) 0 -341px #fff;
	content: '';
}
.accordion-heading .accordion-toggle {
	height: 40px;
	line-height: 40px;
	color: #8caaca;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 0 0 rgba(255,255,255,0);
	padding-left:10px;
}
.accordion-inner .nav>li>a {
	display: block;
	height:40px;
	line-height: 40px;
	background: #e8f5ff;
	color: #5a789b;
	font-size: 14px;
	margin-bottom:1px;
	padding-left:25px;
	text-shadow: 0 0 0 rgba(255,255,255,0);
}
.accordion-inner .nav-list>.active:after {
	position: absolute;
	top: 15px;
	right: 0px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid #fff;
	border-bottom: 10px solid transparent;
	content: '';
}
.nav-log {
	height: 70px;
	margin-top: 50px;
	background: url(../img/logoBg.png) no-repeat center 0;
	text-align: center;
}
.nav-log p {
	width: 50%;
	float: left;
	text-align: center;
	line-height: 70px;
}
/*底部版权*/
#footer {
	width: 100%;
	height: 30px;
	background: #2194ff;
	line-height: 30px;
	color: #fff;
	text-align: center;
}
#footer a {
	color: #fff;
	margin: 0 5px;
}
/* 组件 按钮 */
.form-search .input-append .btn{
	border-radius:0 4px 4px 0;
	-webkit-border-radius:0 4px 4px 0;
}
.btn-s {
	display: inline-block;
	/* height: 20px; */
	padding:3px 20px;
	border-radius:4px;
	line-height: 20px;
	transition: all .3S;
	text-decoration: none;
	-webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.1);
	cursor:pointer;
}
.btn-s i {
	margin-top:4px;
	margin-right: 2px;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	transition: all .3S;
}
.btn-s:hover { text-decoration: none; }
.btn-opear {
	border: solid 1px #9cceff;
	background: url(../img/btn-1.png) repeat-x 0 bottom;
	color: #7093c1;
}
.btn-opear i { color: #7093c1; }
.btn-opear:hover {
	background: #339dff;
	color: #FFF;
}
.btn-opear:hover i { color: #fff; }
.btn-add {
	border: solid 1px #fe9f00;
	background: url(../img/btn-2.png) repeat-x;
	color: #fff;
}
.btn-add i { color: #fff; }
.btn-add:hover {
	color: #fff;
	opacity: .9;
}
/*面包屑*/
.breadcrumb {
	padding: 20px 15px;
	background-color: transparent;
}
/*添加样式*/
.ul-form { padding: 10px 0; }
.input-mini { width: 120px; }
.span8 { margin-top: 50px; }
.span12 { margin-top: 20px; }
.font-normal { font-size: 12px; }
.label-width { width: 130px!important; }
.pull-right { float: right !important; }
.m-t-20{
	margin-top:20px;
}
.m-l-30{ margin-left:30px;}
.nowrap{white-space:normal!important;}
/*覆盖 bootstrap table样式 start */
.table-striped tbody>tr:nth-child(odd)>td,
.table-striped tbody>tr:nth-child(odd)>th { background-color: #fff; }
.table-bordered th,
.table-bordered td { border-left: none; }
/*覆盖 bootstrap table样式 end */

/* 组件 翻页 */
.pagination {
	position: relative;
	width: 100%;
}
.pagination ul { float: right }
.pagination ul li.controls {
	position: absolute;
	top: 0;
	left: 0;
}
.pagination ul>li>a,
.pagination ul>li>span {
	padding: 4px 12px;
	border: 1px solid #9ad0ff;
	border-left-width: 0;
	font-size: 14px;
}
.pagination ul>li>a:hover,
.pagination ul>li>a:focus,
.pagination ul>.active>a,
.pagination ul>.active>span {
	background-color: #9ad0ff;
	color: #fff;
}


.input-append .btn
{
    width: 30px;
	height: 28px;
	padding: 0;border-color: #cae8ff;
	line-height:28px; text-align:center;
}
.input-append .btn .icon-search{ font-size:16px; color:#8194ad;}
.icon-search {
    background-position: -48px 2px;
}
.jbox-button{
	border: solid 1px #9cceff !important;
	background: url(../img/btn-1.png) repeat-x 0 bottom !important;
	color: #7093c1 !important;
}
.jbox-button:hover {
	background: #339dff !important;
	color: #FFF !important;
}
.jbox-button1 {
	border: solid 1px #fe9f00 !important;
	background: url(../img/btn-2.png) repeat-x !important;
	color: #fff !important;
	border-radius: 4px !important;
	margin-right: 5px;
}
.jbox-button1:hover {
	color: #fff !important;
	opacity: .9 !important;
}