.branch-form{
  .control-group{
    label{
      width: 6em;
    }
    textarea{
      width: 172px;
      height: 100px;
    }
    .controls{
      margin-left: 90px;
    }
  }
  .form-control {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
  }
}