{{#each this}}
    <li class="next-back-category" data-id="{{id}}" data-name="{{name}}">
        <a href="javascript:void(0)" class="find-next-category" title="{{name}}">{{name}}</a>
    </li>
{{/each}}