
.green{
	color: green !important;
	font-size:35px !important;
}
.orange{
	color: orange !important;
	font-size:35px !important;
}
.yellow{
	color: yellow !important;
	font-size:35px !important;
}
.red{
	color: red !important;
	font-size:35px !important;
}