.table td{
	padding:0;
	font-size:14px;
	border:1px solid #999;
	border-left:none;
	
}
.table thead tr{
	height:30px;
}
.table thead tr th{
	font-size:14px;
	border-right:1px solid #999;
}
.table tbody tr:nth-child(odd) td{
	background:#ECF1F4;
}
.title{
	padding-left:10px;
	color:#fff;
	background:#366091;
}
.title span{
	display:inline-block;
	margin-right:10px;
	color:#fff;
	background:#366091;
}
.table tbody tr:last-child td{
	background:#C2D69A;
}
.chart-div{
	height:300px;
	width:49%;
	margin-top:10px;
	border:1px solid #e5e5e5;
	display:inline-block;
	float:left;
}
.m-r-10{
	margin-right:10px;
}
.m-t-20{
	margin-top:20px;
}
.p-no-data{
	font-size:18px;
	font-weight:bold;
}
.m-l-5{
	margin-left:5px;
}
.m-b-20{
	margin-bottom:20px;
}