table.tab_css_1{
	width: auto;
}
table.tab_css_1 th{
	padding: 4px 15px;
}
table.tab_css_1 td{
	max-width: 300px;
}
.m-l-medium{
	margin-left: 30px;
}
.overflow-x{
	width: 100%;
	overflow-x: auto;
}