
.wrap{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.container{
    position: relative;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #8D8D8D;
}
.content{
    width: 98%;
}
.sub-title{
    display: inline-block;
    width: 100px;
    height: 20px;
    margin: 10px 40px;
    line-height: 20px;
    vertical-align: middle;
}
.info{
    display: inline-block;
    width: 350px;
    margin-top: 5px;

}

.title{
    width: 98%;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    text-align: left;
    padding: 0 20px;
    color: #222;
    font-size: 16px;
}
.line{
	margin:0 20px;
	border-bottom: 1px solid #3F3F3F;
}
.table-index{
    width: 90%;
    margin: 15px auto;
    border-collapse: collapse;
    text-align: center;
    border-spacing: 0;

}
.table-index .scrollthead,.table-index .scrollthead2{
    display: block;
    width: 100%;
}
.table-index .scrollthead tr th{
    width: 420px;
}

.table-index thead tr {
    height: 40px;
    color: #444;
}
.table-index thead tr th{
    border: 1px solid #8B8B8B;
}
.table-index .scorllbody{
    display: block;
    width: 100%;
    height: 124px;
    overflow: auto;
}
.table-index .scorllbody tr td{
    width: 420px;
}
.table-index .scorllbody2{
    display: block;
    width: 100%;
    height: 156px;
    overflow: auto;
}
.table-index .scrollthead2 tr th{
    width: 259px;
}
.table-index .scorllbody2 tr td{
    width: 280px;
}

.wh274{
	width: 274px !important;
}
.wh328{
	width: 328px !important;
}
.wh350{
	    width: 350px !important;
}
.table-index tbody tr td{
    
    border-left: 1px solid #8B8B8B;
    border-bottom:1px solid #8B8B8B;
    border-right:1px solid #8B8B8B;
   
}
input[type="text"]{
        width: 180px;
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    border: 1px solid #8B8B8B;
    vertical-align: middle;
    margin-top: 5px;
}
.btn-group{
    position: absolute;
    bottom: -100px;
    left: 390px;
    margin-bottom:10px;
    text-align: center;
}
.btn{
    display: inline-block;
    padding: 3px 15px;
    cursor: pointer;
}
.info2{
    display: inline-block;
    width: 240px;
    margin-top: 10px;
}

.table-height{
    width: 100%;
    height: 76px;
    overflow: auto;
}
.wh50{
    width: 50%;
}
.wh30{
    width: 30px!important;
}
.wh120{
    width: 120px !important;
}

.mb-15{
  margin-bottom: -15px;
}
.right-no-border{
    border-right:none !important;
}

.m-t-10{
    margin-top: 10px;
}
.m-r-20{
    margin-right: 20px;
}
.m-r-43{
    margin-right: 43px;
}
.m-r-30{
    margin-right: 30px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}