body,ul,li,div,table,tr,td,th,h2,label,select{
	font-size:14px;
}
.statTit-ul li{
	line-height:30px;
}
.inline-li>div{
	display:inline-block;
}
.titleYear{
	margin-left:-220px;
}
.titleYear>span{
	margin-left:5px;
	font-size:14px;
}
.statTit-ul li label{
	width:80px;
	text-align:right;
}
.selectYear{
	width:100px !important;
}
.inline-li{
	text-align:center;
}
.date-width{
	width:110px;
	display:inline-block;
	font-size:14px;
}
.tableCol td{
 	border: 1px solid #e5e5e5;
}
.mt-10{
	margin-bottom:10px;
}