.statTit-ul{height:60px;}
.inline-li{position:relative;width:420px;margin-left:20px;}
.inline-li label{width:60px; text-align:right;}
.titleYear{position: absolute;top:0;left:510px;width:340px;}

.mb-10{margin-bottom:10px;}
.m-r-20{margin-right:20px;}