
.circle{
	width:20px; height:20px; border-radius:25px; margin-left:18px;
}

.green-background{
	background-color:green;
}

.orange-background{
	background-color:orange;
}

.yellow-background{
	background-color:yellow;
}

.red-background{
	background-color:red;
}