.structDataPic{
	background:url('../../../../static/images/sys/job_image1.jpg');
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	min-height:400px;
	margin-top:4%;
}