.startGreen{
	color:green; 
}
.stopRed{
 	color:red;
}
.noteNull{
	text-align: center
}
.label-width-75{
	width: 75px!important;
}
.label-width-65{
	width: 65px!important;
}
.label-width-50{
	width: 50px!important;
}
.btn-margin-top{
	margin-top: 5px;
}