<div class="modal">
  <div class="modal-header">
    <h2>优惠券统计</h2>
  </div>
  <form class="item-form">
    <div class="item-new modal-body">
      <div class="control-group">
        <label for="itemName">优惠券项目编号:</label>
        <p>{{id}}<p>
      </div>
      <div class="control-group">
        <label for="itemName">优惠券项目名称:</label>
        <p>{{couponName}}<p>
      </div>
      <div><h4>优惠券状态</h4></div>
      <div class="control-group">
        <label for="itemName">已使用使用:</label>
        <p><p>
      </div>
      <div class="control-group">
        <label for="itemName">未使用:</label>
          <p><p>
      </div>
      <div class="control-group">
        <label for="type">已过期:</label>
        <p><p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-info btn-small close">返回</button>
    </div>
  </form>
</div>
