<div class="modal">
    <div class="modal-header">
        <h2>选择商品分类</h2>
    </div>
    <form class="role-form">
        <div class="role-new modal-body">
            <div>
                <label for="id">选择商品分类:</label>
                <input name="id" type="text" class="form-control">
            </div>

        </div>
        <div class="js-component ztree_demo" data-comp-path="ztree_demo">
            <ul id="treeDemo" class="ztree"></ul>
        </div>

        <div class="modal-footer">
            <input type="submit" class="btn btn-success btn-small js-item-create" value="确定">
            <button class="btn btn-info btn-small close">取消</button>
        </div>
    </form>

</div>
