{{#partial "realTitle"}}广告管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "common/advertising_manage" true}}
    </div>
{{/partial}}
{{> views/index_layout}}