{{#partial "realTitle"}}手机广告管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "common/esp_advertise" true}}
    </div>
{{/partial}}
{{> views/index_layout}}