{{#partial "realTitle"}}服务承诺功能{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "common/service_promise" true}}
    </div>
{{/partial}}
{{> views/index_layout}}