<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="PrintLabelInfoLog" fileName="C:/Hainsi/WindowsServices/Logs/HainsSendOrderPrintLabel/info.log"
            layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}"
            archiveEvery="Day"
            archiveFileName="C:/Hainsi/WindowsServices/Logs/HainsSendOrderPrintLabel/info_{#}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30"/>
    <target xsi:type="File" name="PrintLabelErrorLog" fileName="C:/Hainsi/WindowsServices/Logs/HainsSendOrderPrintLabel/error.log"
            layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}"
            archiveEvery="Day"
            archiveFileName="C:/Hainsi/WindowsServices/Logs/HainsSendOrderPrintLabel/error_{#}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30"/>
    <target xsi:type="File" name="ChangeStatusInfoLog" fileName="C:/Hainsi/WindowsServices/Logs/HainsSendOrderChangeStatus/info.log"
            layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}"
            archiveEvery="Day"
            archiveFileName="C:/Hainsi/WindowsServices/Logs/HainsSendOrderChangeStatus/info_{#}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30"/>
    <target xsi:type="File" name="ChangeStatusErrorLog" fileName="C:/Hainsi/WindowsServices/Logs/HainsSendOrderChangeStatus/error.log"
            layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}"
            archiveEvery="Day"
            archiveFileName="C:/Hainsi/WindowsServices/Logs/HainsSendOrderChangeStatus/error_{#}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30"/>
    <target xsi:type="File" name="ByoriLabelInfoLog" fileName="C:/Hainsi/WindowsServices/Logs/HainsSendOrderByoriLabel/info.log"
            layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}"
            archiveEvery="Day"
            archiveFileName="C:/Hainsi/WindowsServices/Logs/HainsSendOrderByoriLabel/info_{#}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30"/>
    <target xsi:type="File" name="ByoriLabelErrorLog" fileName="C:/Hainsi/WindowsServices/Logs/HainsSendOrderByoriLabel/error.log"
            layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}"
            archiveEvery="Day"
            archiveFileName="C:/Hainsi/WindowsServices/Logs/HainsSendOrderByoriLabel/error_{#}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30"/>
  </targets>
  <rules>
    <logger name="PrintLabel" levels="Info,Error" writeTo="PrintLabelInfoLog" />
    <logger name="PrintLabel" levels="Error" writeTo="PrintLabelErrorLog" />
    <logger name="ChangeStatus" levels="Info,Error" writeTo="ChangeStatusInfoLog" />
    <logger name="ChangeStatus" levels="Error" writeTo="ChangeStatusErrorLog" />
    <logger name="ByoriLabel" levels="Info,Error" writeTo="ByoriLabelInfoLog" />
    <logger name="ByoriLabel" levels="Error" writeTo="ByoriLabelErrorLog" />
  </rules>
</nlog>
