<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="VendorPayNo">
    <resultMap id="VendorPayNoMap" type="VendorPayNoModel">
        <result property="id" column="id"/>
        <result property="vendorInfId" column="vendor_inf_id"/>
        <result property="period" column="period"/>
        <result property="payNo" column="pay_no"/>
        <result property="payName" column="pay_name"/>
        <result property="product" column="product"/>
        <result property="createOper" column="create_oper"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyOper" column="modify_oper"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>
    <sql id="columns">
        id,vendor_id,period,pay_no,pay_name,product,create_oper,create_time,modify_oper,modify_time,del_flag
    </sql>

    <insert id="insert" parameterType="VendorPayNoModel" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        insert into tbl_vendor_pay_no
        (vendor_inf_id
        ,period
        ,pay_no
        ,pay_name
        ,product
        ,create_oper
        ,create_time
        ,modify_oper
        ,modify_time
        ,del_flag)
        values(#{vendorInfId}
        ,#{period}
        ,#{payNo}
        ,#{payName}
        ,#{product}
        ,#{createOper}
        ,#{createTime}
        ,#{modifyOper}
        ,#{modifyTime}
        ,#{delFlag})
    </insert>

    <update id="update" parameterType="VendorPayNoModel">
        update tbl_vendor_pay_no set
        <if test="vendorInfId !=null">vendor_inf_id = #{vendorInfId}
            ,
        </if>
        <if test="period !=null">period = #{period}
            ,
        </if>
        <if test="payNo !=null">pay_no = #{payNo}
            ,
        </if>
        <if test="payName !=null">pay_name = #{payName}
            ,
        </if>
        <if test="product !=null">product = #{product}
            ,
        </if>
        <if test="createOper !=null">create_oper = #{createOper}
            ,
        </if>
        <if test="createTime !=null">create_time = #{createTime}
            ,
        </if>
        <if test="modifyOper !=null">modify_oper = #{modifyOper}
            ,
        </if>
        <if test="modifyTime !=null">modify_time = #{modifyTime}
            ,
        </if>
        <if test="delFlag !=null">del_flag = #{delFlag}
        </if>
        where id = #{id}
    </update>

    <sql id="conditions">
        <where>
            <if test="id !=null">and id = #{id}</if>
            <if test="vendorInfId !=null">and vendor_inf_id = #{vendorInfId}</if>
            <if test="period !=null">and period = #{period}</if>
            <if test="payNo !=null">and pay_no = #{payNo}</if>
            <if test="payName !=null">and pay_name = #{payName}</if>
            <if test="product !=null">and product = #{product}</if>
            <if test="createOper !=null">and create_oper = #{createOper}</if>
            <if test="createTime !=null">and create_time = #{createTime}</if>
            <if test="modifyOper !=null">and modify_oper = #{modifyOper}</if>
            <if test="modifyTime !=null">and modify_time = #{modifyTime}</if>
            <if test="delFlag !=null">and del_flag = #{delFlag}</if>
        </where>
    </sql>
    <select id="findById" parameterType="Map" resultMap="VendorPayNoMap">
        SELECT id,
        <include refid="columns"/>
        from tbl_vendor_pay_no
        where id=#{id}
    </select>
    <select id="findAll" resultMap="VendorPayNoMap">
        select id,
        <include refid="columns"/>
        from tbl_vendor_pay_no
        <include refid="conditions"/>
    </select>

    <select id="pager" parameterType="Map" resultMap="VendorPayNoMap">
        select id,
        <include refid="columns"/>
        from tbl_vendor_pay_no
        <include refid="conditions"/>
        <![CDATA[ order by id desc limit #{offset}, #{limit} ]]>
    </select>
    <delete id="delete" parameterType="VendorPayNoModel">
        delete from tbl_vendor_pay_no where id = id
    </delete>

    <select id="findVendorPayNoInfo" parameterType="Map" resultMap="VendorPayNoMap">
        select <include refid="columns"/>
        from tbl_vendor_pay_no
        where vendor_id = #{vendorId}
        and period = #{period}
        and del_flag != '1'
    </select>
</mapper>


