.activitys-edit {
  .category{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal!important;
    float: none!important;
    display: block!important;
    width: auto!important;
  }
  .hidden-display{
    display:none;
  }
  td{
    word-break: break-all;
  }
  .cursor-pointer{
    cursor:pointer;
  }
  .scroll-800 {
    max-height: 800px;
    overflow: auto;
    overflow-x: hidden;
  }
  .sale-channel {
    line-height: 30px;
  }
  .js-item-new {
    margin-bottom: 10px;
  }

  .h1 {
    width: 80px;
  }

 /* .main-box-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
  }*/

  .main-box-title2 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 15px 20px;
  }

  .active-title3 {
    font-size: 14px;
    font-weight: bold;
  }

  .newActivity-add-form {
    background: #fff;
  }

  .padding-left-150 {
    padding-left: 150px;
  }

  .width-164 {
    width: 164px !important;
  }
  .padding-top-10 {
    padding-top: 10px;
  }

  .form-information {
    clear: both;
    min-height: 32px;
    margin-bottom: 15px;
    label {
      display: block;
      float: left;
      line-height: 30px;
      width: 150px;
      text-align: right;
      padding-right: 10px;
    }
    input{
      border: 1px solid #ccc !important;
    }
    textarea {
      height: 80px;
      width: 300px !important;
    }
    select {
      border: 1px solid #ddd;
      margin: 0;
      outline: medium none;
      padding: 1px 5px;
      font-size: 14px;
      width: 100px;
    }
    .form-contorl {
      padding: 4px;
      font-size: 14px;
      border: 1px solid #ccc;
    }
    .order-form {
      width: 160px;
    }
  }

  .greyText {
    color: #ccc;
  }

  .red {
    input {
      border-color: #cc003a;
    }

    span {
      color: #cc003a;
    }

    label {
      color: #cc003a;
    }
  }
  .control-group1 {
    width: 85%;
  }

  .fullDown-add-btn {
    margin: 0 0 15px 20px;
  }

  .fullDown-del-btn {
    margin: 0 0 15px 20px;
  }

  .btn-small {
    font-size: 12px;
    line-height: 16px;
  }

  .btn-success {
    color: #fff;
    background-color: #f01919;
    border-color: #f01919;
  }

  .range-add-btn {
    margin-left: 20px;
  }

  .center-pos {
    margin-left: 70px;
  }

  .form-label-15 {
    width: 15px !important;
  }

  .form-label-35 {
    width: 35px !important;
  }

  .hideStyle {
    display: none;
    //    visibility:hidden;
  }



  .margin-center {
    margin-left: 350px;
  }

  .width-330 {
    width: 330px;
  }



  .activeRangeAddBtn {
    padding-left: 20px;
  }
}

.activityGoodsAddModal {
  width: 880px;
  height: 480px;

  .padding-left-10 {
    padding-left: 10px;
  }
  .margin-left-44 {
    margin-left: 44px;
  }
  .width-tr-150 {
    width: 150px;
  }
  .width-tr-50 {
    width: 50px;
  }
  .width-tr-200 {
    width: 200px;
  }
  .width-tr-100 {
    width: 100px;
  }
  .active-tr-center {
    margin-left: auto;
    margin-right: auto;
  }
  .scroll-style {
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
  }

}

.message-modal{
  .message-new{
    width: 200px;
    min-height: 0;
  }
}


