{{#partial "realTitle"}}供应商管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "mall_cooperation/cooperation_add" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
