{{#partial "realTitle"}}供应商管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{#inject "mall_cooperation" true}}
            {
            "type":"1",
            "shopType":"YG"
            }
        {{/inject}}
    </div>
{{/partial}}
{{> views/index_layout}}
