{{#partial "realTitle"}}供应商用户账号管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "mall_cooperation/cooperation_vendor_account" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
