.naviBar {
  background-color: #666666 !important;
}

.menu {
  flex: 1;
}

.menuItem, .separator {
  padding-left: 13px;
}

.menuItem {
  text-decoration: none;
  white-space: nowrap;
  font-size: 0.8rem;
  color: #ffffff;
}

.separator {
  border-color: #ffffff;
}

.searchForm {
  display: flex;
}

.buttonLink {
    height: 24px;
}
