body {
	background-repeat: no-repeat;	
	background:url(../img/background.jpg) no-repeat;
	background-color: black;
	
}
.dd_form1{
	padding-left:20%;
	padding-right:40%;
	padding-top: 20%;;
	color: #cff;	
	font-size:18pt;
	font-weight: bold;
	
}
.dd_fild{
	border:#C032B7;
}
form {
	
}
.button a{
	color: #cff;	
	font-weight: bold;
	text-decoration:none;
}
.button :hover {
	color:#A246FD;	
	cursor:pointer;
}
.dd_login{
	background-color:#012136;
	font-size:18pt;
	border:0px;
	color: #cff;	
	font-weight: bold;
}

#foot{
   margin: 10% 10% 10% 10%; 
   
}
.left{
   margin-top:90px;
   margin-left:50px;
   float:left;
}
.title{
	color:red;
}
.input{
background-color:#597674;
width: 200px;
color: #FFFFFF;
font-size: 20pt;
font-weight: 2pt;
height: 30px;
}

