body{
		border:solid #000 1px; 
		margin: 0;
		font-size:15pt;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		padding: 500px 100px;
		background:url(../img/mimi.jpg);
}

.item_tmp {
	font-size:15pt;
	color:#E6CCFF;
	width:500pt;
	padding: 250px 250px;
	font-weight:bold;
	margin-top: -80pt;
	background:url(../img/writelog.jpg);	
}

#content textarea{
	font-size:15pt;
	color:#E9FFF4;
	background:url();
	WIDTH: 650px;
	HEIGHT: 450px;
	border:solid #CCFFFF 2px;	
}

#Ttitle input{
	font-size:15pt;
	color:#E9FFF4;
	background:url();
	border:solid #CCFFFF 2px;			
}
.button {
	font: 17px Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding: 0 6px;
	color: #6C54F2;
	background: url(img/p2.png) no-repeat 50% 50%;
	/*for Mozilla*/
	outline: 3px solid #9999FF;
	border: 2px solid #FFFFFF !important;
	height: 30px !important;
	line-height: 22px !important;
	/*for IE7*/ >
	border: 1px solid #1590BE !important; >
	height: 26px !important; >
	line-height: 20px !important;
	/*for IE*/
	border: 1px solid #1590BE;
	height: 26px;
	line-height: 20px;
}