<div class="tip tip-{{type}} {{direct}}">
  <!--<div class="tip-icon">-->
    <!--<i class="icon-{{type}}16"></i>-->
  <!--</div>-->
  <div class="tip-message">
    <p>{{message}}</p>
  </div>
</div>
