.iconWrapper {
  cursor: pointer;
}

.iconWrapper:hover {
  color: #f39c12;
}

.calendarIcon {
  display: inline-block;
  padding: 0px 1px 0 5px;
  height: 27px;
  line-height: 27px;
  transform: translateY(4px);
  cursor: pointer;
}
