.months {
  width: 189px;
  padding-bottom: 2px;
}

.month {
  width: 58px;
  height: 38px;
  line-height: 38px;
}

.current {
  background: #f39c12;
  color: #fff;
  border-radius: 4px;
  opacity: .8;
}
