.icon {
  cursor: pointer;
  width: 20px;
}

.title {
  width: 100px;
  display: inline-block;
}

.navigationTitle {
  cursor: pointer;
}

.navigationTitle:hover {
  color: #f39c12;
}
