.brand-detail{
  label {
    display: block;
    float: left;
    line-height: 30px;
    width: 150px;
    text-align: right;
    padding-right: 10px;
  }
  .brand-img{
    width:200px;
    height:100px;
  }
  .wh270{
    width:270px;
  }
  .slide-error-none{
    color: #cc003a;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: baseline;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin-left: 4px;
    display: none;
  }
  td{
    word-break: break-all;
  }
  select{
    border-radius:0px;
  }
  .overflow-hidden{
    overflow: hidden;
  }
  .main-box{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    overflow: hidden;

    .col-box span {
      line-height: 32px;
    }
    .border {
      border:1px #ccc solid;
    }
    .list-tabble-con tr th {
      background:#f2f2f2;
      border-bottom: solid 1px #e3e3e3;/*line03 */
      font-size: 14px;
      color: #222;
      text-align:center;
      padding: 10px;
    }
    .list-tabble-con tr td {
      padding: 20px 0;
      border-bottom: solid 1px #e3e3e3;/*line03 */
      font-size: 14px;
      color: #222;
      line-height: 20px;
      text-align:center;
      vertical-align: middle;
    }
    .list-tabble-con tr td a{
      color:#328cff
    }
    .clear {
      font-size: 0px;
      clear: both;
      line-height: 0px;
      height: 1px;
    }
    .main-box-table-detail-t {
      background-color: #fff;
    }
    .main-box-table-detail-t table {
      width: 100%;
      border-collapse: collapse;
    }
    .main-box-table-detail-t table th {
      padding: 10px;
      text-align: right;
    }
    .main-box-table-detail-t table td {
      padding: 5px;
    }
    .review-table th {
      padding: 10px;
      text-align: right;
    }
    .form-information{
      margin-bottom:15px;
      clear:both;
      min-height:32px;
      overflow:hidden;
      span{
        line-height:30px;
      }
    }
    .admin-btn {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 10px;
    }
    .msg_info_id{
      color:#cc003a;
      padding-left: 5px;
    }
    .ipt{
      width: 220px;
    }
  }
  .notice{
    margin-left: 25px;
    color: red;
  }
}
.specials-item-model{
  width: 600px;
}
