{{#each this}}
    <div class="padding-left-150 padding-top-10 active-Range-FullDown">
        <span class="hideStyle">供应商ID：</span>
        <span class="hideStyle suppID">{{supplierCode}}</span>

        <span>供应商名称:  </span>
        <span>{{supplierName}}</span>
        <span class="padding-left-25"><a class="btn btn-info btn-small activeRange-FullDown-del">删除</a></span>
    </div>
{{/each}}