<div class="control-group1 Sale">   <!--荷兰拍-->

    <div class="form-information">
        <label>降价频率:</label>
        <input type="text" class="form-control ruleFrequency" name="ruleFrequency" maxlength="10" >
        <span>秒</span>
        <span class="greyText">指的是按照降价频率进行的降价金额，如每600秒降价100.00</span>
    </div>
    <div class="form-information">
        <label>限购数量:</label>
        <input type="text" class="form-control ruleLimitBuyCount" name="ruleLimitBuyCount" maxlength="10" >
        <span class="greyText">每个人的限购数量（大于等于1的正整数）</span>
    </div>
    <div class="form-information">
        <label for="roleName">限购数量种类:</label>
        <div class="input-padding">
            <input type="radio" name="groupBuy" class="limitRadioDay hideStyle"><span class="single-text hideStyle">单场内</span>
            <input type="radio" name="groupBuy" class="limitRadioAvtive" checked>整个活动
        </div>
    </div>
    <div class="form-information">
        <label>可拍次数:</label>
        <input type="text" class="form-control ruleLimitTicket" name="ruleLimitTicket" maxlength="10" >
        <span class="greyText">每个人允许参与拍卖的数量，此数字应该大于限购数</span>
    </div>
    <div class="form-information">
        <label>每组商品:</label>
        <input type="text" class="form-control ruleGroupCount" name="ruleGroupCount" value="3" disabled="disabled">
        <span class="greyText">每一组显示的商品数</span>
    </div>
</div>