<!--秒杀 -->
<div class="activityRange-second">
    <div>&nbsp;</div>
    <div id="table-list" class="table-list">
        <table id="content-add" class="tableInfo table second-table">
            <thead>
            <tr>
                <th width="5%">序号</th>
                <th width="5%">排序</th>
                <th width="10%">分类</th>
                <th width="10%">品牌</th>
                <th width="10%">单品编码</th>
                <th width="10%">商品名称</th>
                <th width="10%">供应商</th>
                <th width="15%">费用承担方</th>
                <th width="5%">活动价</th>
                <th width="10%">活动商品数量</th>
                <th width="5%">使用优惠券</th>
                <th width="5%">操作</th>
                <th width="5%" style="display: none">商品编码1</th>
            </tr>
            </thead>
            <tbody class="activeRange-second">

            </tbody>
        </table>
    </div>
</div>
<!--秒杀 end-->