<!-- 荷兰拍 -->
<div class="activityRange-sale">
    <div>&nbsp;</div>
    <div id="table-list" class="table-list">
        <table id="content-add" class="tableInfo table sale-table">
            <thead>
            <tr>
                <th width="5%">序号</th>
                <th width="5%">排序</th>
                <th width="10%">分类</th>
                <th width="5%">品牌</th>
                <th width="10%">单品编码</th>
                <th width="10%">商品名称</th>
                <th width="10%">供应商</th>
                <th width="15%">费用承担方</th>
                <th width="5%">起拍价(元)</th>
                <th width="5%">最低价(元)</th>
                <th width="5%">降价金额</th>
                <th width="10%">活动商品数量</th>
                <th width="5%">操作</th>
                <th width="10%" style="display: none">商品编码编码</th>
            </tr>
            </thead>
            <tbody class="activeRange-sale">

            </tbody>
        </table>
    </div>
</div>
<!-- 荷兰拍 end-->