<div class="form-information fullDown-add">
    <label for="roleName"><span class="required">*</span>满减优惠:</label>
    <span>满</span>
    <input id="upAmount" name="upAmount"class="form-control fullDown-full" maxlength="10" type="text"  required>
    <span>元</span>
    <span>优惠</span>
    <input id="downAmount" name="downAmount"class="form-control fullDown-down" maxlength="10" type="text"  required>
    <span>元</span>
    <span><a class="btn btn-info btn-small fullDown-del-btn">删除</a></span>
</div>
