<div class="padding-top-10">
    <span>&nbsp;</span>
    <span><input class="byDay" name="loop" type="radio" checked>每日</span>
    <span><input class="byWeek" name="loop" type="radio">每周</span>
    <span><input class="byMonth" name="loop" type="radio">每月</span>
</div>