<div class="padding-top-10 every-week">
    <span> <label for="roleName" class="padding-left-65"><span class="required">*</span>日期:</label></span>
    <span><input name="week" class = "weekCk" type="checkbox">周一</span>
    <span><input name="week" class = "weekCk" type="checkbox">周二</span>
    <span><input name="week" class = "weekCk" type="checkbox">周三</span>
    <span><input name="week" class = "weekCk" type="checkbox">周四</span>
    <span><input name="week" class = "weekCk" type="checkbox">周五</span>
    <span><input name="week" class = "weekCk" type="checkbox">周六</span>
    <span><input name="week" class = "weekCk" type="checkbox">周日</span>
</div>