<div class="padding-top-10 day-copy day every-month">
    <span> <label for="roleName" class="padding-left-65"><span class="required">*</span>日期:</label></span>
    <span><input name="day" type="checkbox" class="dayCk day1">1</span>
</div>