<div class="modal modal-sms-style">
    <div class="modal-header">
        <a href="#" class="close">×</a>

        <h2>查看名单</h2>
    </div>
    <div class="js-name-list name-list-style">
    </div>
    <div class="btn-small nameList-pagination" data-total={{data.data.total}}></div>
</div>