{{#component "js-component test"}}
    <div class="test">
        <div class="test1">
            <a class="test-a" href=""><i class="icon-error"></i>{{json _DATA_}}</a>
        </div>
    </div>
{{/component}}