/* 
.table_container {border:0;width:100%;font-size:12px;}
.table_container td {text-align: left;vertical-align: middle;word-break: keep-all;padding:2px;background-color:#f7fdff;}
.table_container .right {text-align: right;}
.jt_botton_table{margin:0 auto; text-align:center;margin:4px}
*/
/* ? */


/* ??? */
input.error {border: 1px solid #cd0a0a; background-color:#FFFFEC}
div.tooltip {background-color:#fef1ec;border:1px solid #932621;padding:3px;display:none;color:#8b262c;/* outline radius for mozilla/firefox only */-moz-box-shadow:0 0 10px #000;-webkit-box-shadow:0 0 10px #000; float:left}
/* div.message{background: transparent url(msg_arrow.gif) no-repeat scroll left center;padding-left: 7px;margin-top:-20px;margin-left:-20px;}*/
div.error{background-color:#fef1ec;border:#932621 solid 1px;padding:3px; margin-left:10px;color:#8b262c; width:100px}