.business_control{
  .business-weight{
    width: 380px;
  }
}
/**弹出框样式**/
.business-modal{
  width: 500px;
  .business-prompt{
    margin-top: 10px !important;
  }
  .js-approve-memeo{
    width: 300px;
    height: 120px;
  }
}