.activitys-detail{
  td{
    word-break: break-all;
  }
  .scroll-800{
    max-height: 800px;
    overflow: auto;
    overflow-x: hidden;
  }
  .js-item-new{
    margin-bottom: 10px;
  }

  .h1{
    width:80px
  }

  .main-box{
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    .label-weight{
      font-weight: bold;
    }

    .item-lable1{
      font-weight: normal;
      width: 40%;
      height: 43px;
      text-align: right;
      vertical-align: top;
      font-size: 14px;
      color: #565656;
    }
    .item-lable2{
      width: 20%;
    }
    .item-span1{
      width: 50%;
      //      height: 43px;
      text-align: left;
    }
    .p-width{
      float:left;
      width: 50%;
    }
    .p-width-supplier{
      width: 50%;
    }
    .img-width{
      width: 100px;
      height: 100px;
    }
    .text-div {
      width: 50%;
      word-wrap: break-word;
      word-break: break-all;
      display: inline-block;
    }
  }

  .item-title2{
    font-size: 14px;
    font-weight: bold;
    margin:0 0 15px 20px;
    float: left;
    width: 100%;
  }

  .item-title{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    color: #333;
  }

  .margin-inline{
    float:left;
    width: 25%;
  }

  .width-100{
    width: 100px;
  }

  .padding-left-25{
    padding-left: 25px;
  }

  .saleContent{
    margin:0 0 15px 20px;
    float: left;
    width: 100%;
  }

  .background-white{
    background-color: #fff;
    height: auto !important;
  }

  .bottom-text{
    text-align: center;
  }

  .allWidth{
    text-align: left !important;
    width: 200% !important;
  }

  .float-left{
    float: left;
  }
}

