<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderReturnTrackDetailModel">
    <resultMap id="OrderReturnTrackDetailMap" type="OrderReturnTrackDetailModel">
        <result property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="curStatusId" column="cur_status_id"/>
        <result property="curStatusNm" column="cur_status_nm"/>
        <result property="ordertypeId" column="ordertype_id"/>
        <result property="ordertypeNm" column="ordertype_nm"/>
        <result property="operationType" column="operation_type"/>
        <result property="memo" column="memo"/>
        <result property="memoExt" column="memo_ext"/>
        <result property="doDesc" column="do_desc"/>
        <result property="extend1" column="extend1"/>
        <result property="extend2" column="extend2"/>
        <result property="createOper" column="create_oper"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyOper" column="modify_oper"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>
    <sql id="columns">
    id,order_id,cur_status_id,cur_status_nm,ordertype_id,ordertype_nm,operation_type,memo,memo_ext,do_desc,extend1,extend2,create_oper,create_time,modify_oper,modify_time
    </sql>

    <insert id="insert" parameterType="OrderReturnTrackDetailModel" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        insert into tbl_order_return_track_detail
        (order_id
        ,cur_status_id
        ,cur_status_nm
        ,ordertype_id
        ,ordertype_nm
        ,operation_type
        ,memo
        ,memo_ext
        ,do_desc
        ,extend1
        ,extend2
        ,create_oper
        ,create_time
        ,modify_oper
        ,modify_time)
        values(#{orderId}
        ,#{curStatusId}
        ,#{curStatusNm}
        ,#{ordertypeId}
        ,#{ordertypeNm}
        ,#{operationType}
        ,#{memo}
        ,#{memoExt}
        ,#{doDesc}
        ,#{extend1}
        ,#{extend2}
        ,#{createOper}
        ,now()
        ,#{modifyOper}
        ,now())
    </insert>

    <update id="update" parameterType="OrderReturnTrackDetailModel">
        update tbl_order_return_track_detail set
            <if test="orderId !=null">order_id = #{orderId}
                ,</if>
            <if test="curStatusId !=null">cur_status_id = #{curStatusId}
                ,</if>
            <if test="curStatusNm !=null">cur_status_nm = #{curStatusNm}
                ,</if>
            <if test="ordertypeId !=null">ordertype_id = #{ordertypeId}
                ,</if>
            <if test="ordertypeNm !=null">ordertype_nm = #{ordertypeNm}
                ,</if>
            <if test="operationType !=null">operation_type = #{operationType}
                ,</if>
            <if test="memo !=null">memo = #{memo}
                ,</if>
            <if test="memoExt !=null">memo_ext = #{memoExt}
                ,</if>
            <if test="doDesc !=null">do_desc = #{doDesc}
                ,</if>
            <if test="extend1 !=null">extend1 = #{extend1}
                ,</if>
            <if test="extend2 !=null">extend2 = #{extend2}
                ,</if>
            <if test="createOper !=null">create_oper = #{createOper}
                ,</if>
            <if test="createTime !=null">create_time = #{createTime}
                ,</if>
            <if test="modifyOper !=null">modify_oper = #{modifyOper}
                ,</if>
            <if test="modifyTime !=null">modify_time = #{modifyTime}
                </if>
        where id = #{id}
    </update>

    <sql id="conditions">
        <where>
            <if test="id !=null">and id = #{id}</if>
            <if test="orderId !=null">and order_id = #{orderId}</if>
            <if test="curStatusId !=null">and cur_status_id = #{curStatusId}</if>
            <if test="curStatusNm !=null">and cur_status_nm = #{curStatusNm}</if>
            <if test="ordertypeId !=null">and ordertype_id = #{ordertypeId}</if>
            <if test="ordertypeNm !=null">and ordertype_nm = #{ordertypeNm}</if>
            <if test="operationType !=null">and operation_type = #{operationType}</if>
            <if test="memo !=null">and memo = #{memo}</if>
            <if test="memoExt !=null">and memo_ext = #{memoExt}</if>
            <if test="doDesc !=null">and do_desc = #{doDesc}</if>
            <if test="extend1 !=null">and extend1 = #{extend1}</if>
            <if test="extend2 !=null">and extend2 = #{extend2}</if>
            <if test="createOper !=null">and create_oper = #{createOper}</if>
            <if test="createTime !=null">and create_time = #{createTime}</if>
            <if test="modifyOper !=null">and modify_oper = #{modifyOper}</if>
            <if test="modifyTime !=null">and modify_time = #{modifyTime}</if>
        </where>
    </sql>
    <select id="findById" parameterType="Map" resultMap="OrderReturnTrackDetailMap">
       SELECT id,
        <include refid="columns"/>
        from tbl_order_return_track_detail
       where id=#{id}
    </select>
    <select id="findByOrderId" parameterType="Map" resultMap="OrderReturnTrackDetailMap">
        SELECT
        <include refid="columns"/>
        from tbl_order_return_track_detail
        where order_id=#{orderId} and operation_type = 0
    </select>
    <select id="findAll" resultMap="OrderReturnTrackDetailMap">
        select id,
        <include refid="columns"/>
        from tbl_order_return_track_detail
        <include refid="conditions"/>
    </select>

    <select id="pager" parameterType="Map" resultMap="OrderReturnTrackDetailMap">
        select id,
        <include refid="columns"/>
        from tbl_order_return_track_detail
        <include refid="conditions"/>
        <![CDATA[ order by id desc limit #{offset}, #{limit} ]]>
    </select>
    <delete id="delete" parameterType="OrderReturnTrackDetailModel">
        delete from tbl_order_return_track_detail where id = id
    </delete>
</mapper>


