.message_setting{
  .admin-btn {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .admin-btn a.send-btn {
    display: inline-block;
    background-color: #f01919;
    color: #fff;
    font-size: 16px;
    border: 2px solid #f01919;
    margin-right: 20px;
  }
  .admin-btn a.cancel-btn {
    border: 2px solid #f01919;
    display: inline-block;
    color: #f01919;
    font-size: 16px;
  }
  .admin-btn .btn-size {
    width: 100px;
    height: 30px;
    line-height: 30px;
  }
  .main-box-padding {
    padding: 20px;
  }
  .main-box-table-detail {
    background-color: #fff;
  }
  .main-box-table-detail table {
    width: 100%;
    border-collapse: collapse;
  }
  .main-box-table-detail table th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  .main-box-table-detail table td {
    padding: 10px;
    border: 1px solid #ccc;
  }

  .main-box-table-detail-t {
    background-color: #fff;
  }
  .main-box-table-detail-t table {
    width: 100%;
    border-collapse: collapse;
  }
  .main-box-table-detail-t table th {
    padding: 10px;
    text-align: right;
    font-weight: normal;
  }
  .main-box-table-detail-t table td {
    padding: 10px;
  }
  .main-box-title { font-size: 16px; font-weight: bold; margin-bottom: 15px; }
}