.present-add {
  .controls-attr {
    float: left;
    padding-left: 6px;
    margin-left: 0 !important;
    margin-top: 10px !important;
  }
  .main-box {
    .form-information {
      .search-item-group{
        position: relative;
        i{
          position: absolute;
          top: 10px;
          left: 150px;
          right: 5px;
          color: #ccc;
          width:15px;
          overflow: hidden;
        }
      }
    }
  }
}
