{{#partial "realTitle"}}品牌广告详情{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "mall_brands/brand_detail" true}}
    </div>
{{/partial}}
{{> views/index_layout}}