{{#partial "realTitle"}}品牌分类管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "mall_brands/brand_category" true}}
    </div>
{{/partial}}
{{> views/index_layout}}