<table class="table-0 border" width="0" border="0">
    <tr>
        <td>选择供应商：
            <input type="text" value="{{searchKey}}"  class="form-control order-form col-3  js-search-value1"placeholder="请输入供应商">
            <input type="button" class="btn btn-small btn-info margin-left-10 js-search-btn" value="搜索"/>
        </td>
    </tr>
    <tr>
        <td>
            <div class="setting-scrll">
                <table class="table-list">
                  {{#each list}}
                    <tbody>
                    <tr>
                        <td width="5%"><input type="checkbox" name="checkbox0" id="{{this.vendorId}}" data-value="{{this.simpleName}}"></td>
                        <td width="95%" class="breakWords">{{this.simpleName}}</td>
                    </tr>
                    </tbody>
                 {{/each}}
                </table>
            </div>
        </td>
    </tr>
</table>