.autocomplete_list * {
	font: 11px/13px "lucida grande",verdana,sans-serif;
}

.autocomplete_list { 
	background: #fff; display: block; border: 1px solid gray; text-align: left; z-index: 2000; 
}

.autocomplete_list .first_item_no_border {
	border-top: none !important;
}

.autocomplete_list .first_item {
	border-top: 1px solid #fff !important; 			/* equals to backgroud color */
}

.autocomplete_list b, .autocomplete_list em, .autocomplete_list strong { 
	font-weight: bold; 
}

.autocomplete_list, .autocomplete_list ol, .autocomplete_list li { 
	list-style-type: none; margin: 0; padding: 0; 
	vertical-align: middle;	
}

.autocomplete_list .item, .autocomplete_list .current_item { 
	margin: 0px; padding: 1px 5px; text-align: left; cursor: pointer; 
	border-top: 1px solid silver;
}

.autocomplete_list .current_item { 
	background: #b4d5fe; color: #000; 
}

.autocomplete_list span { 
	color: #111; float: right; padding-left: 2em; 
}

.autocomplete_icon, .autocomplete_busy, .autocomplete_close { 
	background-position: center;
	background-repeat: no-repeat; 
}

.autocomplete_icon { 
	
}

.autocomplete_busy { 
	
}

.autocomplete_close { 
	
	cursor: pointer;
}
