{{#partial "realTitle"}}卡类卡板维护{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "mall_card_pro" true}}
    </div>
{{/partial}}
{{> views/index_layout}}