<div class="modal modal-modify-password">
    <div class="modal-header">
        <a href="#" class="close close-modify-pwd">×</a>
        <h2>{{title}}</h2>
    </div>
    <form class="form form-aligned modify-password-form" data-account-id="{{data.id}}">
        <div class="account-new modal-body">
            <div class="main-box-title2 font-color-red">为了您的账户安全，请修改初始密码！！！</div>
            <div class="control-group">
                <label for="passwordOld"><span class="required">*</span>旧密码:</label>
                <input id="passwordOld" type="password" class="form-control" name="passwordOld" maxlength="8" type="text" required value="">
                <span class="note-error-empty"><i>&times;</i> 旧密码不得为空</span>
            </div>
            <div class="control-group">
                <label for="passwordNew"><span class="required">*</span>新密码:</label>
                <input id="passwordNew" class="form-control" type="password" name="passwordNew" maxlength="8" type="text" required
                       value="" pattern="^(?![0-9a-z]+$)(?![0-9A-Z]+$)(?![0-9\W]+$)(?![a-z\W]+$)(?![a-zA-Z]+$)(?![A-Z\W]+$)[a-zA-Z0-9\W_]+$">
                <span class="note-error"><i>&times;</i> 必须包含三种类型的字符</span>
                <span class="note-error-empty"><i>&times;</i> 新密码不得为空</span>
            </div>
            <div class="control-group">
                <label for="passwordConfirm"><span class="required">*</span>确认密码:</label>
                <input id="passwordConfirm" class="form-control" type="password" name="passwordConfirm" maxlength="8" type="text" required
                       value="" pattern="^(?![0-9a-z]+$)(?![0-9A-Z]+$)(?![0-9\W]+$)(?![a-z\W]+$)(?![a-zA-Z]+$)(?![A-Z\W]+$)[a-zA-Z0-9\W_]+$">
                <span class="note-error"><i>&times;</i> 必须包含三种类型的字符</span>
                <span class="note-error-empty"><i>&times;</i> 确认密码不得为空</span>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-small btn-success js-password-modify" value="确定">
            <button class="btn btn-info btn-small close close-modify-pwd">取消</button>
        </div>
    </form>
</div>
