.sites-config{
  .add-sites{
    margin: 10px 0 10px 0;
  }
  .sites-config-operate{
    a{
      margin: 0 5px;
    }
  }
  .site-pagination {
    text-align: right;
    margin: 20px 0;
  }
}
.sites-new{
  padding: 10px 20px 0 20px;
  form{
    .control-group{
      label{
        width: 6em;
      }
      textarea{
        width: 164px;
        height: 100px;
      }
    }
  }
  .controls{
   margin-left: 90px;
  }
}
