{{#partial "realTitle"}}撤单管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "mall_revocation" true}}
    </div>
{{/partial}}
{{> views/index_layout}}