<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <!-- 取り込みファイルパス -->
    <add key="FilePath" value="C:\Hainsi\WindowsServices\利用者データ\利用者データ.txt" />
    <!-- Web API のベースURL -->
    <add key="ApiUri" value="http://localhost:50681/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="File" name="InfoLog" fileName="C:/Hainsi/WindowsServices/Logs/HainsGetKarteRiyosha/info.log"
              layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}"
              archiveEvery="Day"
              archiveFileName="C:/Hainsi/WindowsServices/Logs/HainsGetKarteRiyosha/info_{#}.log"
              archiveNumbering="Date"
              archiveDateFormat="yyyyMMdd"
              maxArchiveFiles="60"/>
      <target xsi:type="File" name="ErrorLog" fileName="C:/Hainsi/WindowsServices/Logs/HainsGetKarteRiyosha/error.log"
              layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}"
              archiveEvery="Day"
              archiveFileName="C:/Hainsi/WindowsServices/Logs/HainsGetKarteRiyosha/error_{#}.log"
              archiveNumbering="Date"
              archiveDateFormat="yyyyMMdd"
              maxArchiveFiles="60"/>
    </targets>
    <rules>
      <logger name="*" levels="Info,Error" writeTo="InfoLog" />
      <logger name="*" levels="Error" writeTo="ErrorLog" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
