.points-cooperation-add{
  .error-class{
    margin-left: 200px;
  }
  .control-group {
    width: 50%;
  }
  .only-one{
    width: 100%;
  }
  .label-width{
    width:180px !important;
    height: 29px;
  }

  .submit{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .main-box-title2{
    font-size: 14px;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  select{
    width: 164px !important;
  }
  .password-div{
    display: inline-block;
  }
}


















