.service_promise{
  .promise-icon{
    width: 40px;
    height: 40px;
  }
}

.modal-promise-new{
  width: 600px;
  .upload-msg{
    font-style: normal;
    display: inline-block;
    float: none !important;
    margin-left: 10px;
    margin-right: 0;
  }
  .brand-img{
    width: 200px;
    height: 100px;
  }
  textarea{
    width: 300px;
    height: 100px;
  }
  .upload-btn{
    width:80px;
    height:28px;
    z-index:2;
  }
  .img-upload{
    position:absolute;
    left:182px;
    height:28px;
    width: 80px;
    opacity:0;
    z-index:3;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
  }
  .modal-body table.modal-body-table {
    width: 100%;
    border-collapse: collapse;
  }
  .modal-body table.modal-body-table th {
    padding: 10px;
    text-align: right;
    font-weight: normal;
  }
  .modal-body table.modal-body-table th em {
    color: #f01919;
  }
  .modal-body table.modal-body-table td {
    padding: 10px;
    text-align: left;
  }
  .modal-body table.modal-body-table td.text-center {
    text-align: center !important;
  }
}
