<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>500</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        body {
            color: #717171;
        }

        .main {
            width: 730px;
            margin: 200px auto;
            overflow: hidden;
        }

        .main-left {
            float: left;
            width: 210px;
            height: 300px;
        }

        .main-right {
            float: left;
            width: 519px;
            height: 278px;
            border: 1px solid #eee;
            padding-top: 20px;
            border-left: 0;
        }

        .main-right h1 {
            margin-left: 20px;
            margin-top: 0;
        }

        .main-right .right-span {
            margin-top: 30px;
            margin-left: 20px;
        }

        .jump-a {
            text-decoration: none;
        }

        .jump-a span {
            color: #717171;
        }
    </style>
</head>
<body>
<div class="main">
    <div class="main-left">
    </div>
    <div class="main-right">
        <h1>OOPS！ 出错了</h1>
        <div class="right-span">
            <span>服务器有异常，请尝试以下操作</span>
            <br/><br/>
            <span>1. 尝试按F5进行刷新</span>
            <br/><br/>
            <a class="jump-a" href="{{_HREF_.main}}"><span>2.</span> 返回首页</a>
        </div>
    </div>
</div>
</body>
</html>
