<div class="modal modal-modify-password">
    <script src="/static/scripts/encrypt/pwdObject_.js"></script>
    <div class="modal-header">
        <a href="#" class="close close-modify-pwd">×</a>
        <h2>{{title}}</h2>
    </div>
    <form class="form form-aligned modify-password-form" data-account-id="{{data.id}}">
        <div class="account-new modal-body">
            <div class="main-box-title2 font-color-red">为了您的账户安全，请修改初始密码！！！</div>
            <div class="control-group modify-password-div">
                <label for="passwordFirst" class="password-div"><span class="required">*</span>一次密码:</label>
                <div id="password-first-div" class="password-div"><script type="text/javascript">
                    createPwdObjectNew("password-first","264","28","4","4","E","222",null,null,null,"password-first-div");
                </script></div>
                <P class="row-grid-left-10 text-hover-gray">必须包含三种类型的字符</P>
            </div>
            <div class="control-group modify-password-div">
                <label for="passwordSecond" class="password-div"><span class="required">*</span>二次密码:</label>
                <div id="password-second-div" class="password-div"><script type="text/javascript">
                    createPwdObjectNew("password-second","264","28","4","4","E","222",null,null,null,"password-second-div");
                </script></div>
                <P class="row-grid-left-10 text-hover-gray">必须包含三种类型的字符</P>
            </div>
            <div class="control-group modify-password-div">
                <label for="passwordNew" class="password-div"><span class="required">*</span>新密码:</label>
                <div id="new-password-div" class="password-div"><script type="text/javascript">
                    createPwdObjectNew("new-password","264","28","8","12","E","222",null,null,null,"new-password-div");
                </script></div>
                <P class="row-grid-left-10 text-hover-gray">必须包含三种类型的字符</P>
            </div>
            <div class="control-group modify-password-div">
                <label for="passwordConfirm" class="password-div"><span class="required">*</span>确认密码:</label>
                <div id="cfrm-password-div" class="password-div"><script type="text/javascript">
                    createPwdObjectNew("cfrm-password","264","28","8","12","E","222",null,null,null,"cfrm-password-div");
                </script></div>
                <P class="row-grid-left-10 text-hover-gray">必须包含三种类型的字符</P>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-small btn-success js-password-modify" value="确定">
            <button class="btn btn-info btn-small close close-modify-pwd">取消</button>
        </div>
    </form>
</div>
