.gift-recommendation {
  .main-box{
    background-color: #FFF;
  }
  .admin-cat-box{
    float: left;
    width: 22%;
    border-right: 1px solid #eee;
    margin-top: 10px;
    min-height: 600px;
    position: relative;
  }
  .admin-cat-box-30 {
    width: 30% !important;
  }
  .admin-cat-box-title {
    font-size: 14px;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 100px;
    font-weight: bold;
  }
  .admin-cat-box-list-points {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    //li a {
    //  background-image: none;
    //}
    //li a:hover {
    //  background-color: #f0f0f0;
    //}
    //li a.on {
    //  background-color: #f0f0f0;
    //}

  }
  .admin-cat-box-list-points li {
    position: relative;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    margin-bottom: 10px;
  }
  .form-control-admin-search {
    padding: 4px;
    font-size: 14px;
    border: 1px solid #ccc;
    float: left;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
  }
  .admin-cat-box-30 ul.admin-cat-box-list-points li span {
    display: inline-block;
    width: 80px;
    margin-left: 10px;
  }
  .col-left-common {
    float: left !important;
  }
  .admin-cat-add {
    border: none;
  }
  .admin-cat-box-points-table-62 {
    width: 62% !important;
  }
  .admin-cat-box-points-table {
    float: left;
    width: 70%;
    padding: 0 10px;
  }
  .add-property {
    background-color: #f01919;
    color: #fff;
    margin-top: 150px;
    width: 20px;
    text-align: center;
    line-height: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 0;
  }
  .col-right-common {
    float: right !important;
  }
  .admin-cat-points-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 10px auto 15px;
  }
  .table-list{
    width: 100%;
    border-collapse: collapse;
  }

  .href-black:link {color: black}
  .href-black:visited {color: black}
  .href-black:hover {color: black}
  .href-black:active {color: black}
  .clickon {
    background-color: #ccc;
  }
  .admin-add-property {
    position: absolute;
    top: 25px;
    background-color: #fff;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #f01919;
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
  }
  .points-box {
    width: 400px;
    right: 0;
    top: 45px;
    padding: 20px;
    text-align: center;
  }
  .del-btn-link{
    color: #f01919;
    border: 1px solid #f01919;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    text-align: center;
    padding: 0 8px;
    cursor: pointer;
    border-radius: 2px;
    margin: 0 auto;
    width: 60px;
  }
  .points-box-inline{
    display: inline-block;
  }
  .margin-bottom-20{
    margin-bottom: 20px;
  }
}