{{#partial "realTitle"}}公告编辑{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "publish/publish_edit" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
