{{#partial "realTitle"}}公告详情{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "publish/publish_view" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
