<div class="modal">
    <div class="modal-header">
        <h2>撤销订单</h2>
    </div>
            <div class="modal-body">
                <div class="control-group revocation-div">
                    <tr>
                        <td>撤销原因:</td>
                        <td>{{memo}}</td>
                    </tr>
                   <!--<p>撤销原因:</p>
                    {{memo}}-->
                    <!--<textarea class="" value="{{memo}}" readonly="readonly">{{memo}}</textarea>-->
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info btn-sm close">关闭</button>
            </div>
</div>
