{{#partial "title"}}{{{block "realTitle"}}}{{/partial}}
{{#partial "body"}}
    {{inject "header"}}
    <div class="content">
        <div class="content-box">
            <div class="main">
                {{inject "sidebar"}}
                {{{block "realBody"}}}
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="front-footer">
        <div class="session"></div>
        <div class="copyright">
            <span>Copyright © 2016光大信用卡商城 版权所有 京ICP备 765324324 号</span>
        </div>
    </div>
{{/partial}}
{{> views/layout}}