{{#partial "title"}}用户登录{{/partial}}
{{#partial "body"}}
    {{inject "header"}}
    {{inject "login"}}
    <div style="clear:both"></div>
    <div class="front-footer">
        <div class="session"></div>
        <div class="copyright">
            <span>Copyright © 2016光大银行网上商城 版权所有 京ICP备 0343243223232 号</span>
        </div>
    </div>
{{/partial}}
{{> views/layout}}
