{{#partial "realTitle"}}兑换统计报表{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{#inject "report_manage" true}}
            {
            "reportType":"JF08",
            "reportCode":"JF08"
            }
        {{/inject}}
    </div>
{{/partial}}
{{> views/index_layout}}