{{#partial "realTitle"}}积分兑换报表（中国人寿保险标准卡重大疾病）{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{#inject "report_manage" true}}
            {
            "reportType":"JF22",
            "reportCode":"JF22,JF53"
            }
        {{/inject}}
    </div>
{{/partial}}
{{> views/index_layout}}