{{#partial "realTitle"}}积分兑换报表（联通卡）{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{#inject "report_manage" true}}
            {
            "reportType":"JF30",
            "reportCode":"JF30,JF62"
            }
        {{/inject}}
    </div>
{{/partial}}
{{> views/index_layout}}