.titleBar {
  display: flex;
  align-items: center;
}

.icon {
  background-color: #9f96bb;
  color: #ffffff;
  padding: 6px;
  font-size: 24px;
  line-height: 1rem;
}

.title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  padding-left: 12px;
  border-bottom: 1px solid #9f96bb;
}
