<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
    "mybatis-3-config.dtd">
<configuration>
       
	<properties resource="jdbc.properties" />

    <!--配置类型的别名  -->
    <typeAliases>
    <typeAlias alias="Person" type="com.dongxianglong.domain.Person"></typeAlias>
     <typeAlias alias="Roleaction" type="com.dongxianglong.domain.Roleaction"></typeAlias>
     <typeAlias alias="Category" type="com.dongxianglong.domain.Category"></typeAlias>
      <typeAlias alias="Product" type="com.dongxianglong.domain.Product"></typeAlias>
      <typeAlias alias="Stock" type="com.dongxianglong.domain.Stock"></typeAlias>
     <typeAlias alias="Sell" type="com.dongxianglong.domain.Sell"></typeAlias>
     <typeAlias alias="Repertory" type="com.dongxianglong.domain.Repertory"></typeAlias>
     <typeAlias alias="Supplier" type="com.dongxianglong.domain.Supplier"></typeAlias>
    </typeAliases>
    
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	
	
	<!--配置的sql映射文件  -->
	<mappers>
	<mapper resource="com/dongxianglong/domain/Person.xml"/>
	<mapper resource="com/dongxianglong/domain/Category.xml"/>
	<mapper resource="com/dongxianglong/domain/Product.xml"/>
	<mapper resource="com/dongxianglong/domain/Stock.xml"/>
	<mapper resource="com/dongxianglong/domain/Sell.xml"/>
	<mapper resource="com/dongxianglong/domain/Repertory.xml"/>
	<mapper resource="com/dongxianglong/domain/Supplier.xml"/>
	</mappers>
	
</configuration>