.headLogin {
  background-color: #F5F5F5;
  border-bottom: 1px solid #EDEDED;
  height: 34px;
  line-height: 34px;

  .header-box {
    width: 1180px;
    margin: 0 auto;
  }
  .header-message {
    color: #999;
  }
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  .navbar-collapse {
    width: 1200px;
  }
  .company {
    line-height: 35px;
    vertical-align: middle;
    color: #d01f2f;
    font-size: 18px;
    line-height: 44px;
  }
}