<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <!-- サービス名 -->
    <add key="ServiceName" value="HainsSendJushinrekiToIji" />
    <!-- 表示名 -->
    <add key="ServiceDisplayName" value="HainsSendJushinrekiToIji" />
    <!-- 説明 -->
    <add key="ServiceDescription" value="受診歴送信（医事）" />
    <!-- 依存するサービス（カンマ","で区切って複数のサービス名を指定できます） -->
    <add key="ServiceDependedOn" value="" />
    <!-- 送信ホスト名 -->
    <add key="ServerHostName" value="127.0.0.1" />
    <!-- 送信ポート番号 -->
    <add key="ServerPort" value="15110" />
    <!-- ポーリング間隔（単位:ミリ秒） -->
    <add key="PollingInterval" value="15000" />
    <!-- ソケット受信タイムアウト（単位:ミリ秒） -->
    <add key="SocketRecieveTimeout" value="20000" />
    <!-- ソケット送信タイムアウト（単位:ミリ秒） -->
    <add key="SocketSendTimeout" value="20000" />
    <!-- 受診科コード -->
    <add key="SendDataJushinCd" value="90" />
    <!-- 端末名 -->
    <add key="SendDataWsMei" value="HAINSSVR" />
    <!-- 利用者ID -->
    <add key="SendDataRiyosyaId" value="097187" />
    <!-- 更新対象送信区分（0:未送信　※受診歴送信処理後に送信区分を下記の更新後送信区分に変更します） -->
    <add key="UpdSendDiv" value="0" />
    <!-- 更新後送信区分（2:医事送信済み） -->
    <add key="AftSendDiv" value="2" />
    <!-- 削除対象送信区分（1:カルテ送信済み　※受診歴送信処理後に受診歴送信ジャーナルのレコードを削除します） -->
    <add key="DelSendDiv" value="1" />
    <!-- Web API のベースURL -->
    <add key="ApiUri" value="http://localhost:50681/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="File" name="InfoLog" fileName="C:/Hainsi/WindowsServices/Logs/HainsSendJushinrekiToIji/info.log"
              layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}"
              archiveEvery="Day"
              archiveFileName="C:/Hainsi/WindowsServices/Logs/HainsSendJushinrekiToIji/info_{#}.log"
              archiveNumbering="Date"
              archiveDateFormat="yyyyMMdd"
              maxArchiveFiles="30"/>
      <target xsi:type="File" name="ErrorLog" fileName="C:/Hainsi/WindowsServices/Logs/HainsSendJushinrekiToIji/error.log"
              layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}"
              archiveEvery="Day"
              archiveFileName="C:/Hainsi/WindowsServices/Logs/HainsSendJushinrekiToIji/error_{#}.log"
              archiveNumbering="Date"
              archiveDateFormat="yyyyMMdd"
              maxArchiveFiles="30"/>
    </targets>
    <rules>
      <logger name="*" levels="Info,Error" writeTo="InfoLog" />
      <logger name="*" levels="Error" writeTo="ErrorLog" />
    </rules>
  </nlog>
</configuration>
