.activitys-statistics{
  td{
    word-break: break-all;
  }
  .js-item-new{
    margin-bottom: 10px;
  }
  .h1{
    width:80px
  }
  .input-small-z {
    width: 85px !important;
  }

  .margin-right-10{
    margin-right: 10px !important;
  }

  .margin-top-10{
    margin-top: 10px !important;
  }
}

