@charset "UTF-8";
/* CSS Document */



/*查询页css开始*/
.content #form .table-search.margin-auto {
	width: 900px;
	margin:0 auto;
}
.margin-chx {
	height: auto;
	width: 1200px;
	background-color: #FFF;
	padding-top:30px;
	padding-bottom:30px;
	margin:10px auto 0 auto;
}
.margin-chx #form .table-search.margin-auto {
	width: 1140px;
	margin:0 auto;
}
.margin-chx #form .table-search.margin-auto tr td{
	height:40px;
	line-height:40px;
}
.select {
	height:30px;
	width:260px;
	line-height:30px;
}
.title-cxjg{
	height:30px;
	width: 1200px;
	margin:15px auto 0px auto;
	line-height:30px;
}

.margin-cxjg {
	height: auto;
	width: 1200px;
	background-color: #FFF;
	padding-top:30px;
	margin-top:20px;
	margin:0 auto 0 auto;
}
.margin-cxjg .margin-cxjg_table {
	height: auto;
	width: 1140px;
	margin:0 auto;
	border-left:1px solid #CCC;
	border-top:1px solid #CCC;

}
.margin-cxjg .margin-cxjg_table tr td{
	text-align:center;
	padding:20px 2px 20px 2px;
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;
		color: #999;
}
.margin-cxjg .margin-cxjg_table .thead {
	background-color:#f0f2f5;
}
.margin-cxjg .margin-cxjg_table .thead_nr {
	color: #999;
}
.margin-cxjg .margin-cxjg_table .thead_nr td .title-cxjg_xq {
	color: #39F;
	padding:5px 5px 5px 5px;
	border:1px solid #39F;

}
/*CSS pagination*/
.pagination{
	height:60px;
	width:1200px;
	margin-top:35px;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
    line-height:25px;
	}
.pagination A {
	border:#CCC 1px solid;
	padding-right:6px;
	padding-left:6px;
	padding-bottom:2px;
	color:#999;
	margin-right:2px;
	padding-top:2px;
	text-decoration:none;
}
.pagination A:hover{
	border:#999 1px solid;
	padding-right:6px;
	padding-left:6px;
	padding-bottom:2px;
	padding-top:2px;
	margin-right:2px;
	background-color:#f0f0f0;
}
.pagination A:active{
	border:#999 1px solid;
	padding-right:6px;
	padding-left:6px;
	padding-bottom:2px;
	padding-top:2px;
	margin-right:2px;
	background-color:#f0f0f0;
}
.pagination span.current {
	border:#CCC 1px solid;
	padding-right:6px;
	padding-left:6px;
	padding-bottom:2px;
	padding-top:2px;
	margin-right:2px;
	background-color:#f0f0f0;
	font-weight:bold;
	color:#999;
}
.pagination span.disabled {
	border:#CCC 1px solid;
	padding-right:6px;
	padding-left:6px;
	padding-bottom:2px;
	padding-top:2px;
	margin-right:2px;
	color:#999;

}
/*详情页*/	
.margin-chx .table-xqlb {
	width: 1140px;
	margin:0 auto;
	border-left:1px solid #CCC;
	border-top:1px solid #CCC;
}
.margin-chx .table-xqlb tr td{
	padding:15px 5px 15px 5px;
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;
}

.margin-chx .table-xqlb .table_xqlbbj {
	background-color:#f0f2f5;
}
.margin-chx .table-xqlb .table_xqlbbj2 {
	background-color:#f0f2f5;
	text-align:center;
}
.margin-chx .table-xqlb .table_xqlbnr {
	color:#666;
}
.title-cxjg_xq {
	color: #39F;
	padding:5px 5px 5px 5px;
	border:1px solid #39F;
}
.table_bg_color{
	background-color:#f0f2f5
}