.category{
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  float: left;
  width: 159px;
  position:relative;
  .category-header{
    height: 37px;
    .item-name-p{
      width: 60%;
      float: left;
      text-align: right;
    }
  }

  &:hover{
    .category-form{
      display: block;
    }
  }
  .category-form{
    display: none;
    width: 148px;
    position: absolute;
    height: auto;
    bottom: 0;
    text-align: center;
    /*padding: 2px 5px 2px 4px;*/
    margin-left: 6px;
    background-color: #ddd;
    .input-group{
      margin: auto;
      .btn-small {
        line-height: 15px;
      }
      .group-input {
        padding: 5px 8px 4px;
      }

    }
    .group-input{
      width: 80px;
    }
  }
  .category-edit-form{
    height: auto;
    .input-group{
      padding-left: 1px;
    }
    .update-category-input{
      width: 80px;
      &.short-input{
        width: 80px;
      }
    }
  }

  .search-item{
    //height: 40px;
    margin: 5px;
    .search-item-group{
      padding:8px 0 0 4px;
      position: relative;
      i{
        position: absolute;
        top: 20px;
        left: 12px;
        color: #CCCCCC;
      }
      input{
        width: 116px;
        padding: 4px 4px 4px 25px;
      }
    }
  }
  .category-body{
    border-right: 1px solid #f0f0f0;
    width: 163px;
    padding: 0;
    .attribute-search{
      width: 140px;
    }
    .divide-ul{
      width: 95%;
      padding-left: 5px;
      overflow: auto;
      //min-height: 180px;
      height: 300px;
      .divide-li{
        cursor: hand;
        cursor: pointer;
        margin-top: 1px;
        height: 28px;
        line-height: 27px;
        .normal-status{
          padding: 0 5px 0 2px;
          .image-upload i{
            width:15px;
            height: 15px;
            line-height: 15px;
          }
        }
        .item-pop {
          width: calc(100% - 55px);
          display: inline-block;
          vertical-align: middle;
          color:#565656;
          span{
            width: 100px;
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &.selected{
          background-color: #f0f0f0;
          .normal-status{
            a.item-pop span{
              color: #565656;
            }
            i.next{
              color: #565656;
            }
          }
          &:hover{
            background-color: #f0f0f0;
          }
        }
        &:hover{
          background-color: #f2f2f2;
          .normal-status{
            padding: 0 1px 0 2px;
          }
          .item-pop span{
            width: 100%;
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          i.next{
            display: none;
          }
          .operate-span{
            white-space:nowrap;
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
            line-height: 20px;
            height: 20px;
            padding-top: 4px;
            float: right;
            .operate-status{
              text-align: center;
              display: inline-block;
              vertical-align: baseline;
              margin: auto;
              padding: 0;
            }
            i {
              display: inline-block;
              vertical-align: middle;
              line-height:20px;
            }
          }
        }
        .operate-span{
          display: none;

        }
        i{
          display: inline-block;
          vertical-align: middle;
          &.next{
            margin-top: 9px;
            float: right;
            right: 1em;
          }
          &.hide{
            display: none !important;
          }
        }
      }
    }
  }
  .top-li{
    height: 30px;
  }
  .bottom-li{
    height: 40px;
  }
  .sharp{
    margin-top: -1px;
    width: 40%;
    float: right;
    .up, .low{
      float: right;
      border: 19px solid #f0f0f0;
      font-style: normal;
      border-color:transparent transparent transparent #f0f0f0;
    }
    .low{
      border-color:transparent transparent transparent #fff;
      margin: 0 -37px 0 0;
    }
    .up{
      margin: 0 -37px 0 0;
    }
  }
}
.category{
  *display: inline;
}

.category-last{
  .sharp{
    display: none;
  }
  .category-body{
    margin-top: 0px;
    border-right: 0px;
  }
}

.category-title{
  .component-title{
    font-size: 14px;
    .category-id-desc{
      font-size: 12px;
      color: #f0f0f0;
    }
  }
  .category-sync{
    float: right;
    font-size: 14px;
    i{
      display: inline-block;
      vertical-align: text-bottom;
    }
  }
}