/*2008.11.18*/

#headerLink ul{
	margin:0;
	padding:0;
	list-style-type:none;
}

#headerLink li{
	float:right;
	
	font-size:12px; 
	   
	padding-left:6px;
	padding-right:6px;	
	padding-top:3px;
	padding-bottom:3px;
	
	color:#000000;
    text-decoration:none;
    text-align:center;
}

#headerLink li a{
	font-size:12px; 
	   
	padding-left:6px;
	padding-right:6px;	
	padding-top:3px;
	padding-bottom:3px;
	
	color:#000000;
    text-decoration:none;
    text-align:center;    
}

#headerLink li a:hover{
    text-decoration:underline;
    font-weight:bold;
}

