.points_deposit_rate{
  .main-body{
    margin-left: 50px;
    margin-top: 50px;
  }
  .control-group{
    width: 100%;
  }
  .label-color{
    color: #565656 !important;
    font-weight:normal;
  }
  .submit{
    text-align:center;
  }
  .label-width{
    width: 140px !important;
  }

}