/* カレンダーカラー設定 */
	A.holiday:link    { color:red; text-decoration:none;}
	A.holiday:visited { color:red; text-decoration:none;}
	A.holiday:hover   { color:red; font-weight:normal;}

	TD.holiday        { color:red; text-decoration:none;}

	A.saturday:link    { color:#006699; text-decoration:none;}
	A.saturday:visited { color:#006699; text-decoration:none;}
	A.saturday:hover   { color:#006699; font-weight:normal;}

	td.saturday        { color:#006699; text-decoration:none;}

	A.weekday:link    { color:black; text-decoration:none;}
	A.weekday:visited { color:black; text-decoration:none;}
	A.weekday:hover   { color:black; font-weight:normal;}

	td.weekday        { color:black; text-decoration:none;}

	A.today:link    { color:#FF9900; text-decoration:none;}
	A.today:visited { color:#FF9900; text-decoration:none;}
	A.today:hover   { color:#FF9900; font-weight:normal;}

	td.today         { color:#FF9900; text-decoration:none;}

	A.kyusin:link    { color:green; text-decoration:none;}
	A.kyusin:visited { color:green; text-decoration:none;}
	A.kyusin:hover   { color:green; font-weight:normal;}

	td.kyusin        { color:green; font-weight:normal;}

	SPAN.holiday  { color:red;       text-decoration:none;}
	SPAN.saturday { color:#006699; text-decoration:none;}
	SPAN.weekday  { color:black;     text-decoration:none;}

/* カレンダーカラー設定 */
