table.mensetsu-tb {
	border-right: 1px solid #bbb;
}

table.mensetsu-tb td,
table.mensetsu-tb th {
	padding: 3px 3px;
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

table.mensetsu-tb th {
	background-color: #ccc;
}
