BODY { background-color:#EEF8AA;}
.page{font-size:large; font-weight:bold; text-align:right;}
.title{font-style:italic; font-size:x-large; font-weight:bold; text-align:center;}
.attention{text-align:left;}
.tableNomal{background-color:#FFF0FD; border-style:solid; border-width:thin; border-color:green;}
.head{color:white; font-weight:bold; background-color:#6B8E23; text-align:center;}
.question{background-color:#FED9FF; text-align:left;}
.questionCenter{background-color:#FED9FF; text-align:center;}
.personalInfo{font-size:large; font-weight:bold; text-align:left;}
.noAnswer{color:red; font-weight:bold; text-align:left;}
.error{font-size:large; color:red; font-weight:bold;}
.headA{color:white; font-weight:bold; background-color:#6B8E23; text-align:center;}

