/* 用于form表单布局的容器 */
.table_container {border: 0;width: 100%;font-size:12px;}
.table_container td {text-align: left;vertical-align: middle;word-break: keep-all;padding:8px 0 8px 0;background-color:#f7fdff;}
.table_container .right {text-align: right;}

/* 输入框样式 */
input {border: 1px solid #000000;border-color: #9e9e9e #dbe0e6 #dbe0e6 #9e9e9e;background: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;padding: 4px 4px 4px 4px; height:22px}

/* 外层大标题的fieldset样式 */
.title1 {width: 100%;padding: 10px;border: 2px solid #3ea4d7;margin: 5px 5px 5px 20px;}
.title1 legend {font-size: 14px;color: #005591;font-weight: bold;padding: 3px 8px 2px 24px;}

/* 错误信息提示样式 */
input.error {border: 1px solid #cd0a0a; background-color:#FFFFEC}
div.tooltip {background-color:#000;border:1px solid #fff;padding:10px 15px;width:200px;display:none;color:#fff;text-align:left;font-size:12px;/* outline radius for mozilla/firefox only */-moz-box-shadow:0 0 10px #000;-webkit-box-shadow:0 0 10px #000;}
/* div.message{background: transparent url(msg_arrow.gif) no-repeat scroll left center;padding-left: 7px;margin-top:-20px;margin-left:-20px;}*/
div.error{background-color:#fef1ec;border:#932621 solid 1px;padding: 3px;position:absolute;color:#8b262c;}