.coupons_set{
  .main-box {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
  }
  .disStyle{
    display: none;
  }
  .main-box-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .main-box-table-detail-t table th {
    padding: 10px;
    text-align: right;
  }
  .main-box-table-detail-t table td {
    padding: 5px;
  }
  .col-right-common {
    float: right !important;
  }
  .add-btn-link {
    color: #f01919;
    border: 1px solid #f01919;
    height: 24px;
    line-height: 24px;
    float: left;
    margin-right: 5px;
    background-color: #fff;
    text-align: center;
    padding: 0 8px;
    cursor: pointer;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }
  .admin-btn {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .admin-btn .btn-size {
    width: 100px;
    height: 30px;
    line-height: 30px;
  }
  .admin-btn a.send-btn {
    display: inline-block;
    background-color: #f01919;
    color: #fff;
    font-size: 16px;
    border: 2px solid #f01919;
    margin-right: 20px;
  }
}
.coupon_vendor_modal{
  height:500px;
  .ztree li span.node_name {
    width: 100px;
    display: inline-block;
  }
  .breakWords{
    word-wrap: break-word;
    word-break: break-all;
  }
  .table-0 {
    padding:0 !important;
  }
  .setting-table-left {
    width:5%;
    float:left;
  }
  .setting-table-right {
    width:90%;
    float:left;
    padding-left:10px;
  }
  .setting-scrll {
    height:300px;
    overflow:auto
  }
  .optCodes {
    line-height: 18px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    width: 400px;
  }
  .form-gray-txt {
    color:#ccc;
  }
  .modal-body table.modal-body-table th {
    padding: 10px;
    text-align: right;
    font-weight: normal;
  }
  .modal-body {
    background-color: #fff;
    padding: 20px 30px;
    text-align: center;
  }
  .modal-body table.modal-body-table td {
    padding: 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 600px;
  }
  .border {
    border: 1px #ccc solid;
  }
  .modal-body-table{
    width: 700px;
  }

}