.modal-bind-new{
  .setting-scroll {
    height: 300px;
    overflow: auto;
    table{
      td{
        text-overflow: ellipsis;
        word-break: break-all;
        word-wrap: break-word;
      }
    }
  }

}
.platinum-card-maintenance{
  .aa{
    color : #999;
    border : solid 1px #999;
  }

}
.modal-card-new{
  width: 600px;
}