<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/J2SE02人际对话整删改擦/src/com/yulin/am/StringDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.yulin.am.StringDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="J2SE02人际对话整删改擦"/>
</launchConfiguration>
