<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OOP04半空找出数组里的元素出现次数/src/com/yulin/pm/StringDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.yulin.pm.StringDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OOP04半空找出数组里的元素出现次数"/>
</launchConfiguration>
