#a{
	width: 400px;
	height: 200px;
	background-color: yellow;
	padding: 10px;
}
#b{
	width: 350px;
	height: 150px;
	background-color: purple;
}
#c{
	width: 300px;
	height: 100px;
	background-color: gray;
	margin: 10px;
}