/*皮肤，内置好多套配色文件，选择某个CSS
a.css
b.css*/
/*只能包含CSS的样式定义*/
h2
{
	color:orange;
	font-size:30pt;
}
h3
{
	font-size:30pt;
	border:3px solid green;
}
h3
{
	border:1px solid green;
}
/*使用类选择器*/
.s1
{ 
	color:blue;  	
	font-size:20pt; 
}
/*元素ID选择器*/
#t
{
	color:purple;  font-size:40pt;  
}

