<div class="js-component sidebar" data-comp-path="sidebar">
    <ul class="sidebar-ul">
        <li class="sidebar-li">
            <a href="javascript:void(0);" class="sidebar-li-a"><i class="icon-jian8"></i><strong>&nbsp;网站前台</strong></a>
            <ul class="inner sidebar-inner-ul">
                <li class="inner-item" id="sites-config">
                    <div class="text-a"><a href="/admins/sites" class="inner-item-a" data-auth="site">站点维护</a></div>
                </li>
                <li class="inner-item" id="sites-config">
                    <div class="text-a"><a href="/seo/tdk" class="inner-item-a" data-auth="seo">搜索引擎优化</a></div>
                </li>

                <li class="inner-item" id="shop-templates">
                    <div class="text-a"><a href="/common/templates" class="inner-item-a" data-auth="template">店铺模板</a>
                    </div>
                </li>
            </ul>
        </li>
        <li class="sidebar-li ">
            <a href="javascript:void(0);" class="sidebar-li-a"><i class="icon-jian8"></i><strong>&nbsp;系统管理</strong></a>
            <ul class="inner sidebar-inner-ul">
                <li class="inner-item" id="component-config">
                    <div class="text-a"><a href="/admins/components" class="inner-item-a" data-auth="component">组件配置</a>
                    </div>
                </li>
                <li class="inner-item" id="component-config">
                    <div class="text-a"><a href="/admins/account" class="inner-item-a" data-auth="component">账号管理</a>
                    </div>
                </li>
                <li class="inner-item" id="component-config">
                    <div class="text-a"><a href="/admins/author" class="inner-item-a" data-auth="component">权限管理</a>
                    </div>
                </li>
                <li class="inner-item" id="component-config">
                    <div class="text-a"><a href="/admins/role_manage" class="inner-item-a" data-auth="component">角色管理</a>
                    </div>
                </li>
                <li class="inner-item" id="component-config">
                    <div class="text-a"><a href="/admins/announcement" class="inner-item-a" data-auth="component">公告管理</a>
                    </div>
                </li>
                <li class="inner-item" id="component-config">
                    <div class="text-a"><a href="/admins/inside_message" class="inner-item-a" data-auth="component">内部消息管理</a>
                    </div>
                </li>
                <li class="inner-item" id="component-config">
                    <div class="text-a"><a href="/admins/message_setting" class="inner-item-a" data-auth="component">信息设置</a>
                    </div>
                </li>
            </ul>
        </li>
        <li class="sidebar-li" id="categories-spu">
            <a href="javascript:void(0);" class="sidebar-li-a"><i class="icon-jian8"></i><strong>&nbsp;类目管理</strong></a>
            <ul class="inner sidebar-inner-ul">
                <li class="inner-item" id="back-category">
                    <div class="text-a"><a href="/categories/backend" class="inner-item-a"
                                           data-auth="category:back:edit">后台类目属性</a></div>
                </li>
                <li class="inner-item" id="front-category">
                    <div class="text-a"><a href="/categories/frontend" class="inner-item-a"
                                           data-auth="category:front">前台类目</a></div>
                </li>
                <li class="inner-item" id="brand-manage">
                    <div class="text-a"><a href="/admins/brand_control" class="inner-item-a" data-auth="spu:auth:brand">品牌管理</a>
                    </div>
                </li>
            </ul>
        </li>
        <li class="sidebar-li last">
            <a href="javascript:void(0);" class="sidebar-li-a"><i class="icon-jian8"></i><strong>&nbsp;广发商城</strong></a>
            <ul class="inner sidebar-inner-ul">
                <li class="inner-item" id="item-manage">
                    <div class="text-a"><a href="/mall/cooperation" class="inner-item-a">合作商管理</a></div>
                </li>
            </ul>
        </li>
        <li class="sidebar-li last">
            <a href="javascript:void(0);" class="sidebar-li-a"><i class="icon-jian8"></i><strong>&nbsp;积分商城</strong></a>
            <ul class="inner sidebar-inner-ul">
                <li class="inner-item" id="item-manage">
                    <div class="text-a"><a href="/points/cooperation" class="inner-item-a">合作商管理</a></div>
                </li>
            </ul>
        </li>
        <li class="sidebar-li last">
            <a href="javascript:void(0);" class="sidebar-li-a"><i class="icon-jian8"></i><strong>&nbsp;商品管理</strong></a>
            <ul class="inner sidebar-inner-ul">
                <li class="inner-item" id="item-manage">
                    <div class="text-a"><a href="/item/item" class="inner-item-a">商品管理</a></div>
                </li>
            </ul>
        </li>
    </ul>
</div>
