{
	"presets": [
        ["env", {
            "targets": {
                "browsers": "> 1%"
            },
            "modules": false
        }],
		"react"
	],
	"plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "react-hot-loader/babel"
	]
}
