.publishView{
  .bottom-button {
    clear: both;
    width: 80%;
    height: 42px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
  }
  .span-large{
    margin-left: 30px;
  }
  .title {
    font-size: 16px;
    margin-left: 20px;
  }
  .grey-color{
    color: #868080;
  }
  .margins{
    margin-left: 80px;
  }
}