{{#partial "realTitle"}}礼品分区管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
      {{inject "gift_partition" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
