<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="cn.com.cgbchina.user.model.UserInfoModel" alias="UserInfoModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.AdminRoleModel" alias="AdminRoleModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.AdminRoleMenuModel" alias="AdminRoleMenuModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.RoleMenuModel" alias="RoleMenuModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.UserRoleModel" alias="UserRoleModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.VendorInfoModel" alias="VendorInfoModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.VendorMenuModel" alias="VendorMenuModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.VendorMessageModel" alias="VendorMessageModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.VendorPayNoModel" alias="VendorPayNoModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.VendorRoleModel" alias="VendorRoleModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.VendorRoleMenuModel" alias="VendorRoleMenuModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.VendorRoleRefModel" alias="VendorRoleRefModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.VendorTranscorpModel" alias="VendorTranscorpModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.VendorModel" alias="VendorModel"/>
        <typeAlias alias="Address" type="cn.com.cgbchina.user.model.Address"/>
        <typeAlias type="cn.com.cgbchina.user.model.MailStagesModel" alias="MailStages"/>
        <typeAlias type="cn.com.cgbchina.user.model.LocalProcodeModel" alias="LocalProcodeModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.LocalCardRelateModel" alias="LocalCardRelateModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.CardPro" alias="CardPro"/>
        <typeAlias type="cn.com.cgbchina.user.model.OrganiseModel" alias="OrganiseModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.ShopinfOutsystemModel" alias="ShopinfOutsystemModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.EspCustLoginModel" alias="EspCustLoginModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.EspCustNewModel" alias="EspCustNewModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.EspCustSignModel" alias="EspCustSignModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.FirstLoginCouponModel" alias="FirstLoginCouponModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.MemberAddressModel" alias="MemberAddressModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.MemberBrowseHistoryModel" alias="MemberBrowseHistoryModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.MemberLogonHistoryModel" alias="MemberLogonHistoryModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.MessageTemplateModel" alias="MessageTemplateModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.PersonalMessageModel" alias="PersonalMessageModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.ShopMemberModel" alias="ShopMemberModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.EspCustVoucherModel" alias="EspCustVoucherModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.MemberGoodsFavoriteModel" alias="MemberGoodsFavoriteModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.StageRateModel" alias="StageRateModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.UserImage" alias="UserImage"/>
        <typeAlias type="cn.com.cgbchina.user.model.Address" alias="Address"/>
        <typeAlias type="cn.com.cgbchina.user.model.MenuMagModel" alias="MenuMagModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.LogsModel" alias="LogsModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.EspPublishInfModel" alias="EspPublishInfModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.ACustToelectronbankModel" alias="ACustToelectronbankModel"/>
        <typeAlias type="cn.com.cgbchina.user.model.ACardCustToelectronbankModel"
                   alias="ACardCustToelectronbankModel"/>

        <typeAlias type="cn.com.cgbchina.user.model.TblVendorRatioModel" alias="TblVendorRatioModel"/>
    </typeAliases>
</configuration>
