{{#partial "realTitle"}}营销活动统计{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "activity/activity_statistics" true}}
    </div>
{{/partial}}
{{> views/index_layout}}