{{#partial "realTitle"}}活动编辑{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "activity/activity_edit" true}}
    </div>
{{/partial}}
{{> views/index_layout}}