{{#partial "realTitle"}}团购商品分类管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "activity/group_classify" true}}
    </div>
{{/partial}}
{{> views/index_layout}}