{{#partial "realTitle"}}活动初审{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "activity/item_audit_detail" true}}
    </div>
{{/partial}}
{{> views/index_layout}}