{{#partial "realTitle"}}活动复审{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "activity/item_review_detail" true}}
    </div>
{{/partial}}
{{> views/index_layout}}