<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="login.asp" />
            </files>
        </defaultDocument>
        <staticContent>
            <remove fileExtension=".txt" />
            <mimeMap fileExtension=".cid" mimeType="application/cid" />
            <mimeMap fileExtension=".txt" mimeType="text/plain" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
        </staticContent>
        <caching enabled="true" enableKernelCache="true" />
        <httpProtocol allowKeepAlive="true" />
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" prefixLanguageFilePath="" path="/webHains/contents/common/HainsError.asp" responseMode="ExecuteURL" />
            <error statusCode="500" subStatusCode="100" path="/webHains/contents/common/HainsError.asp" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
