.brandsCategory-info {

}
.add-brand-category-model {
  .add-brand-category-form {
    width: 570px;
  }
}
.view-brand-category-model {
  .view-brand-category-form {
    width: 570px;
  }
  .break {
    width: 300px;
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
  }
}