@font-face {
  font-family: 'Lily Script One';
  font-style: normal;
  font-weight: 400;
  src: local('Lily Script One'), local('LilyScriptOne-Regular'), url(/fonts/lily-script-one.woff) format('woff');
}

$sidebar-color: #191C23;
$sidebar-logo-color: #21252E;
$white:#fff;
$sidebar-label-color: #656a74;
$sidebar-list-color: #dee1e7;
$body-background-color: #eee;
$border-color: #ddd;
$hostContainer: #DBDCE2;
$IP:#AD4141;
$data:#AAA8A8;
$gray-color4: #dddddd;
