.button {
  padding: 0;
  background-color: #b8b4ac;
  border: none;
  color: #ffffff;
  height: 24px;
  width: 24px;
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.flex {
  display: flex;
}
