<tr id="">
    <td>
        {{itemCode}}
    </td>
    <td >{{goodsName}}</td>
    <td>
        <button class="btn btn-info btn-sm js-decoration-goods-delete" id="{{itemCode}}">
            删除
        </button>
    </td>
</tr>
