<div class="modal modal-html generate-goods-ids">
    <div class="modal-header">
        <a href="#" class="close">×</a>
        <h2>复制商品编号</h2>
    </div>
    <form class="form form-aligned generate-goods-ids-form">
        <div class="html-new modal-body">
            <label for="goodsIds">商品编码:</label>
            <textarea id="goodsIds" name="goodsIds" style="width:300px;height:200px;font-size: 14px;" class="" readonly>{{goods}}</textarea>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-small btn-success copy-goods-ids" value="复制">
        </div>
    </form>
</div>
