.keyword_search {
  .cursor-pointer{
    cursor:pointer;
  }
  /*.main-box-table {
    background-color: #fff;
    padding: 10px 0;
  }*/
  /*table.table-list {
    width: 100%;
    border-collapse: collapse;
    th {
      padding-bottom: 20px;
    }
    td {
      text-align: center;
      padding: 10px 5px;
      .text-left {
        text-align: left;
        padding: 10px 0;
      }

      a.table-link-orange {
        border: 1px solid #f01919;
        color: #f01919;
        padding: 0px 3px;
        text-align: center;
        font-size: 12px;
        display: inline-block;
        margin-bottom: 5px;
      }
    }

    tbody tr:hover {
      background-color: #f0f0f0;
    }
    tbody tr:hover td {
      background: none;
    }
  }*/

 /* table.table-list-t {
    width: 100%;
    border-collapse: collapse;
    th {
      background-color: #f2f2f2;
      padding: 10px;
      border: none !important;
    }
    td {
      padding: 10px;
      border: none !important;
    }
    tbody tr:hover {
      background-color: #f0f0f0;
    }

  }*/

}