{{#partial "realTitle"}}价格体系维护{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{#inject "mall_price_system" true}}
            {
            "type":"1"
            }
        {{/inject}}
    </div>
{{/partial}}
{{> views/index_layout}}
