<div class="modal password-modal">
    <script src="/static/scripts/encrypt/pwdObject_.js"></script>
    <div class="modal-header">
        <a href="#" class="close">×</a>

        <h2>{{title}}</h2>
    </div>
    <form class="form form-aligned edit-password-form" data-account-id="{{id}}">
        <div class="account-new modal-body">
            <!--<div class="control-group">-->
                <!--<label for="passwordNew"><span class="required">*</span>新密码:</label>-->
                <!--<input id="passwordNew" class="form-control" name="passwordNew" maxlength="4" type="password" required-->
                       <!--value=""-->
                       <!--pattern="^(?![0-9a-z]+$)(?![0-9A-Z]+$)(?![0-9\W]+$)(?![a-z\W]+$)(?![a-zA-Z]+$)(?![A-Z\W]+$)[a-zA-Z0-9\W_]+$">-->
                <!--&lt;!&ndash;<span class="note">用户密码</span>&ndash;&gt;-->
                <!--<span class="note-error"><i>&times;</i> 必须包含三种类型的字符</span>-->
                <!--<span class="note-error-empty"><i>&times;</i> 密码不得为空</span>-->
            <!--</div>-->
            <!--<div class="control-group">-->
                <!--<label for="passwordConfirm"><span class="required">*</span>确认密码:</label>-->
                <!--<input id="passwordConfirm" class="form-control js-passwordConfirm" name="passwordConfirm" maxlength="4"-->
                       <!--type="password" required-->
                       <!--value=""-->
                       <!--pattern="^(?![0-9a-z]+$)(?![0-9A-Z]+$)(?![0-9\W]+$)(?![a-z\W]+$)(?![a-zA-Z]+$)(?![A-Z\W]+$)[a-zA-Z0-9\W_]+$">-->
                <!--<span class="note">再次输入密码</span>-->
            <!--</div>-->
            <div class="control-group modify-password-div">
                <label for="passwordNew" class="password-div password-right"><span class="required">*</span>一次密码:</label>
                <div id="passwordNew" class="password-div"><script type="text/javascript">
                    createPwdObjectNew("passwordNew-div","164","28","4","4","E","222",null,null,null,"passwordNew");
                </script></div>
                <span class="note-error-empty"><i>&times;</i> 密码不得为空</span>
            </div>
            <div class="control-group modify-password-div">
                <label for="passwordConfirm" class="password-div password-right"><span class="required">*</span>确认密码:</label>
                <div id="passwordConfirm" class="password-div"><script type="text/javascript">
                    createPwdObjectNew("passwordConfirm-div","164","28","4","4","E","222",null,null,null,"passwordConfirm");
                </script></div>
                <span class="note-error-empty"><i>&times;</i> 密码不得为空</span>
            </div>
        </div>
        <div class="modal-footer">
                <input type="submit" class="btn btn-small btn-success js-password-edit" value="确定">
            <button class="btn btn-info btn-small close">取消</button>
        </div>
    </form>
</div>
