.item-review{
  .cursor-pointer{
    cursor:pointer;
  }
  td{
    word-break: break-all;
  }
  input[type=text]{
     width: 178px;
   }
  select{
    width: 190px;
  }
  fieldset{
    padding:20px 0;
  }
  .js-item-new{
    margin-bottom: 10px;
  }

  .h1{
    width:80px
  }

  .main-box{
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    .label-weight{
      font-weight: bold;
    }

    .item-lable1{
      font-weight: bold;
      width: 40%;
      height: 43px;
      text-align: right;
      vertical-align: top;
    }
    .item-lable2{
      width: 20%;
    }
    .item-span1{
      width: 50%;
      //      height: 43px;
      text-align: left;
    }
    .p-width{
      float:left;
      width: 50%;
    }
    .p-width-supplier{
      width: 50%;
    }
    .img-width{
      width: 100px;
      height: 100px;
    }
    .text-div {
      width: 50%;
      word-wrap: break-word;
      word-break: break-all;
      display: inline-block;
    }
  }

  .item-title2{
    font-size: 14px;
    font-weight: normal;
    margin:0 0 15px 20px;
    float: left;
    width: 100%;
  }

  .item-title{
    font-size: 14px;
    color: #565656;
    margin-bottom: 15px;
    float: left;
    width: 100%;
  }

  .margin-inline{
    float:left;
    width: 25%;
  }

  .width-100{
    width: 100px;
  }

  .padding-left-25{
    padding-left: 25px;
  }

  .saleContent{
    margin:0 0 15px 20px;
    float: left;
    width: 100%;
  }

  .background-white{
    background-color: #fff;
    height: auto !important;
  }

  .bottom-text{
    text-align: center;
  }

  .btn-success {
    color: #fff;
    background-color: #f01919;
    border-color: #f01919;
    margin: 10px 0;
  }

  .input-small-z {
    width: 76px !important;
  }
}

