{{#partial "realTitle"}}账号管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "account_manage" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
