{{#partial "realTitle"}}业务启停控制{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "business_control" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
