{{#partial "realTitle"}}站点管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{#inject "sites_config_manage" true}}
            {
            "type": 2
            }
        {{/inject}}
    </div>
{{/partial}}
{{> views/index_layout}}
