{{#partial "realTitle"}}分行维护{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "points_points/branch_maintenance" true}}
    </div>
{{/partial}}
{{> views/index_layout}}