{{#partial "realTitle"}}网银积分礼品推荐{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "gift_recommendation" true}}
    </div>
{{/partial}}
{{> views/index_layout}}