{{#partial "realTitle"}}请款管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{#inject "points_request" true}}
            {
                "orderType":"JF",
                "tabNumber": "2"
            }
        {{/inject}}
    </div>
{{/partial}}
{{> views/index_layout}}