<li class="attr-value-li" data-attr-value="{{json this}}">
  <span class="input-icon">
    <input type="text" class="attribute-show" value="{{value}}" readonly="true">
    <i class="fa fa-fw fa-trash-o input-right js-attribute-value-delete"></i>
  </span>
</li>
