<div class="modal">
  <div class="modal-header">
    <h2>商品添加</h2>
  </div>
  <form class="item-form">
    <div class="item-new modal-body">
      <div class="control-group">
        <label for="id"><span class="required">*</span>ID:</label>
        <input id="id" name="id"  class="form-control" type="text" placeholder="请输入商品名" required value="{{id}}">
      </div>
      <div class="control-group">
        <label for="itemName">商品名:</label>
        <input id="itemName" name="itemName" class="form-control" type="text" placeholder="请输入商品名" value="{{itemName}}">
      </div>
      <div class="control-group">
        <label for="type">商品类型:</label>
        <input id="type" name="type"  class="form-control" type="text" placeholder="请输入组件描述" value="{{type}}">
      </div>
    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-success btn-sm js-item-create" value="确定">
      <button class="btn btn-info btn-sm close">取消</button>
    </div>
  </form>
</div>
