// defalut

$default-font-color = #717171;
$default-border-color = #eee;
$default-panel-color = #fff;
$default-background-color = #f4f4f4;
$default-focus-color = #66afe9;
$active-border-color = #f01919;
$active-font-color = #f4f4f4;
$active-a-color = #f01919;
$active-background-color = #f01919;
$sidebar-border-color = #f01919;
$invalid-font-color = #ccc;
$default-hover-color = #f7ab00 !default;

// form

$input-small-width = 100px;
$input-middle-width = 160px;
$input-large-width = 100%;

//button
$btn-cancel-color = #C1C1C1;
$btn-warning-color = #F69E09;
$btn-danger-color = #b94a48;
$btn-success-color = #47a447;
$btn-group-color = #f89406;
$btn-large-height = 40px;
$btn-font-color = #fff;
$select-background-color = #fff;
$select-border-color = #ccc;
$select-focus-border-color = #129FEA;

//menu
$menu-selected = #7B8AB5;
$icon-border-color = #B6B4B4;
$menu-title-label-color = #1C2077;

//font
$font-success-color = #729755;
