{{#partial "realTitle"}}权限管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "author_manage" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
