{{#partial "realTitle"}}默认搜索词管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "default_search_term" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
