{{#partial "realTitle"}}内部信息设置{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "inside_message" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
