{{#partial "realTitle"}}关键词搜索管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "keyword_search" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
