{{#partial "realTitle"}}对账文件历史查询{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "makecheckjob_history" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
