{{#partial "realTitle"}}对账文件异常处理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "makecheckjob_error" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
