{{#partial "realTitle"}}消息设置{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "message_setting" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
