{{#partial "realTitle"}}创建索引-测试{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "searchIndexTest" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
