{{#partial "realTitle"}}交易期限管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{#inject "trade_time_role" true}}
            {
            "type":"0"
            }
        {{/inject}}
    </div>
{{/partial}}
{{> views/index_layout}}
