{{#partial "realTitle"}}外网链接白名单配置{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "white_list_allocation" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
