.special-points{
  .font-size{
    font-size: 16px;
  }
}

.special-points-modal{
  .fix-height{
    height: 360px;
  }
  .table-0 {
    padding:0 !important;
    width: 100%;
  }
  .setting-table-left {
    width:5%;
    float:left;
  }
  .setting-table-right {
    width:90%;
    float:left;
    padding-left:10px;
  }
  .setting-scrll {
    height:200px;
    overflow:auto
  }
  .form-gray-txt {
    color:#ccc;
  }
  .modal-body table.modal-body-table th {
    padding: 10px;
    text-align: right;
    font-weight: normal;
  }
  .modal-body {
    background-color: #fff;
    padding: 20px 30px;
    text-align: center;
  }
  .modal-body table.modal-body-table td {
    padding: 10px;
    text-align: left;
  }
  .border {
    border: 1px #ccc solid;
  }
  .modal-body-table{
    width: 700px;
  }
  .ztree li span.node_name {
    width: 100px;
    display: inline-block;
  }
  .breakWords{
    word-wrap: break-word;
    word-break: break-all;
  }
  .display-none{
    display: none;
  }
}