.publishEdit{
  .top{
    margin-top: 15px;
  }
  .control-group{
    width: 95%;
    margin-left: 50px;
  }
  .input-larges{
    width: 500px;
  }
  .input-mediums{
    width: 178px;
  }
  .button-style{
    text-align: center;
    padding-bottom: 10px;
  }
  .edui-container{
    width: 900px !important;
  }
}