<div class="modal sms-preview-style">
    <div class="modal-header">
        <a href="#" class="close">×</a>

        <h2>短信预览</h2>
    </div>
    <div class="control-group">
        <span class="notice js-sms-preview"></span>
    </div>
</div>