{{#partial "realTitle"}}合作商管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "points_cooperation/points_cooperation_detail" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
