{{#partial "realTitle"}}合作商管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{#inject "points_cooperation" true}}
            {
            "type":"2",
            "shopType":"JF"
            }
        {{/inject}}
    </div>
{{/partial}}
{{> views/index_layout}}

