{{#partial "realTitle"}}供应商用户账号管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "points_cooperation/points_cooperation_account" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
