<div class="form-information fullDown-add" xmlns="http://www.w3.org/1999/html">
    <span class="padding-left-100"><label for="roleName"><span class="required">*</span>满减优惠:</label></span>
    <span>满</span>
    <span><input id="upAmount" name="upAmount"class="form-control fullDown-full" type="text"  required disabled="disabled"></span>
    <span>元</span>
    <span>优惠</span>
    <span><input id="downAmount" name="downAmount"class="form-control fullDown-down" type="text"  required disabled="disabled"></span>
    <span>元</span>
</div>
