<div class="modal">
            <div class="modal-header">
                <h2>商品</h2>
            </div>
            <div class="modal-body">
                确定删除此项么？
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary js-delete-confirm" data-id={{id}}>确定</button>
                <button class="btn btn-default close">关闭</button>
            </div>
        </div>
    </div>
</div>