.item-audit {
  .cursor-pointer{
    cursor:pointer;
  }
  td{
    word-break: break-all;
  }
  input[type=text]{
    width: 178px;
  }
  select{
    width: 190px;
  }
  fieldset{
    padding:20px 0;
  }
  .js-item-new {
    margin-bottom: 10px;
  }
  .h1 {
    width: 80px
  }
  .main-box-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .newActivity-add-form {
    background: #fff;
  }
  .form-information {
    clear: both;
    min-height: 32px;
    margin-bottom: 15px;
    label {
      display: block;
      float: left;
      line-height: 30px;
      width: 150px;
      text-align: right;
      padding-right: 10px;
    }
    select {
      border: 1px solid #ddd;
      margin: 0;
      outline: medium none;
      padding: 4px;
      font-size: 14px;
      width: 185px;
    }
    textarea {
      height: 80px;
      width: 300px !important;
    }
    .form-contorl {
      padding: 4px;
      font-size: 14px;
      border: 1px solid #ccc;
    }
    .order-form {
      width: 160px;
    }
  }

  .control-group1 {
    width: 85%;
  }

  .btn-success {
    color: #fff;
    background-color: #f01919;
    border-color: #f01919;
    margin: 10px 0;
  }

  .input-small-z {
    width: 76px !important;
  }

}


