{{#partial "realTitle"}}装修选品{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "decoration_goods" true}}
    </div>
{{/partial}}
{{> views/index_layout}}