{{#partial "realTitle"}}微信商品管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "item_wechat" true}}
    </div>
{{/partial}}
{{> views/index_layout}}
