{{#partial "realTitle"}}退货管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "mall_reject_goods" true}}
    </div>
{{/partial}}
{{> views/index_layout}}