{{#partial "realTitle"}}请款管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{#inject "request_money" true}}
            {
            "tabNumber":"2"
            }
        {{/inject}}
    </div>
{{/partial}}
{{> views/index_layout}}