<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="cn.com.cgbchina.related.model.HotSearchTermModel" alias="HotSearchTermModel"/>
        <typeAlias type="cn.com.cgbchina.related.model.TblEspKeywordRecordModel" alias="TblEspKeywordRecordModel"/>
        <typeAlias type="cn.com.cgbchina.related.model.CouponInfModel" alias="CouponInfModel"/>
        <typeAlias type="cn.com.cgbchina.related.model.SmspCustModel" alias="SmspCustModel"/>
        <typeAlias type="cn.com.cgbchina.related.model.SmspInfModel" alias="SmspInfModel"/>
        <typeAlias type="cn.com.cgbchina.related.model.SmspMdlModel" alias="SmspMdlModel"/>
        <typeAlias type="cn.com.cgbchina.related.model.SmspRecordModel" alias="SmspRecordModel"/>
        <typeAlias type="cn.com.cgbchina.related.model.EspAdvertiseModel" alias="EspAdvertiseModel"/>
        <typeAlias type="cn.com.cgbchina.related.model.DefaultSearchModel" alias="DefaultSearchModel"/>
        <typeAlias type="cn.com.cgbchina.related.model.MessageSettingModel" alias="MessageSettingModel"/>
        <typeAlias type="cn.com.cgbchina.related.model.AuctionQuestionInfModel" alias="AuctionQuestionInfModel"/>
        <typeAlias type="cn.com.cgbchina.related.model.TblParametersModel" alias="TblParametersModel"/>
        <typeAlias type="cn.com.cgbchina.related.model.TblCfgProCodeModel" alias="TblCfgProCodeModel"/>

    </typeAliases>
</configuration>
