.fr {
	float: right;
}

.last {
	float: right;
	background-color: #FFFFFF !important;
	border-bottom: medium none;
	color: #FF8C00;
}

.wuliu_body {
	width: 600px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}

.wuliu_biaoti {
	line-height: 25px;
	height: 25px;
}

.wuliu_danhao {
	height: 38px;
	border: 1px solid #999;
	line-height: 38px;
	padding-left: 6px;
	font-size: 14px;
	background: url(img/wldh.jpg) right no-repeat;
	margin-bottom: 8px; disabled;
	font-weight: bold;
}

.wuliu_liebiao {
	height: auto;
	overflow: hidden;
	border: 1px solid #999;
	width: 598px;
}

.wuliu_liebiao ul {
	padding: 0px;
	margin: 0px;
}

.wuliu_liebiao li {
	float: left;
	width: 570px;
	padding-left: 30px;
	line-height: 42px;
	border-bottom: 1px solid #CCC;
	color: #666
}

.wuliu_liebiaox {
	width: 380px;
}

.liebiao1 {
	background: url(img/wuliu-1.gif) no-repeat 20px 0;
}

.liebiao2 {
	background: url(img/wuliu-2.gif) no-repeat 20px 0;
}

.liebiao3 {
	background: url(img/wuliu-3.gif) no-repeat 20px 0;
}

.liebiao4 {
	background: url(img/wuliu-4.gif) no-repeat 20px 0;
}

.name {
	color: #ffa67d;
}