{{#partial "realTitle"}}前台类目管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        <p class="component-title">
            <strong>前台类目管理</strong>
            &nbsp;&nbsp;&nbsp;
            <span class="category-id-desc">当前类目id：&nbsp;<span class="category-id-show"></span></span>
            <a class="category-sync js-sync-front pull-right" href="javascript:void(0);">
                <i class="fa fa-fw fa-refresh"></i>
                同步前台类目
            </a>
        </p>
        <div class="category-list">
            {{#inject "category_list" true}}
                {
                "type":1,
                "channel":"YG"
                }
            {{/inject}}
        </div>
    </div>
    <div class="edit-area">
        <div class="front-area" style="margin-left: 699px;"></div>
    </div>
{{/partial}}
{{> views/index_layout}}
