<div class="modal coupon_vendor_modal">

    <div class="modal-header"><a href="javascript:void(0)" class="close">×</a>

        <h2>供应商选择</h2></div>
    <div class="modal-body">
        <table class="table-0 modal-body-table" width="0" border="0">
            <tr>
                <td>选择供应商：
                    <input type="text" class="form-control order-form col-3 form-gray-txt js-search-value1"
                           placeholder="请输入供应商">

                    <a href="#" class="btn-upload m-l-10 js-search-btn" data-value="0">搜索</a>
                    <div style="margin-top: 5px;"><div style="float: left;"> 已选择:</div><div class="optCodes" title="" data-optnames="" data-first="0" data-optcodes=""></div></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="setting-scrll">
                        <table class="table-list">
                            {{#each list}}
                                <tbody>
                                <tr>
                                    <td width="5%"><input type="checkbox" class="optCodebox" name="vendorName"
                                                          id="{{this.vendorId}}" data-id="{{this.vendorId}}" value="{{this.simpleName}}"></td>
                                    <td width="95%" class="breakWords">{{this.simpleName}}</td>
                                </tr>
                                </tbody>
                            {{/each}}
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <div class="modal-footer">
            <a class="btn btn-success btn-small js-save-vendorName" href="javascript:void(0)">确定</a>
        </div>
    </div>
</div>