<div class="modal coupon_vendor_modal">
    <div class="modal-header"><a href="javascript:void(0)" class="close">×</a>

        <h2>后台类目选择</h2></div>
    <div class="modal-body">
        <table class="table-0 modal-body-table" width="0" border="0">
            <tr>
                <td>选择商品分类：
                    <input type="text" class="form-control order-form col-3 form-gray-txt js-search-value1"
                           placeholder="请输入商品分类名称" id="searchKey">
                    <a href="#" class="btn-upload m-l-10 js-search-btn" data-value="2">搜索</a></td>
            </tr>
            <tr>
                <td>
                    <div class="setting-scrll">
                        <table class="table-list">
                            <tbody>
                            <div id="treeResource" class="ztree"></div>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <div class="modal-footer">
            <a class="btn btn-success btn-small js-save-category" href="javascript:void(0)">确定</a>
        </div>
    </div>
</div>