<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="cn.com.cgbchina.promotion.model.PromotionModel" alias="PromotionModel"/>
        <typeAlias type="cn.com.cgbchina.promotion.model.PromotionFormalModel" alias="PromotionFormalModel"/>
        <typeAlias type="cn.com.cgbchina.promotion.model.PromotionRangeModel" alias="PromotionRangeModel"/>
        <typeAlias type="cn.com.cgbchina.promotion.model.PromotionVendorModel" alias="PromotionVendorModel"/>
        <typeAlias type="cn.com.cgbchina.promotion.model.PromotionPeriodModel" alias="PromotionPeriodModel"/>
    </typeAliases>
</configuration>
