<div class="dic-item-sub">
    <input type="text" class="item-key"> - <input type="text" class="item-value">
    <button class="btn btn-success btn-small js-dic-item-del" value="删除"></button>
</div>