<div class="control-group">
    <label for="pswsecond"><span class="required">*</span>二次密码:</label>
    <input id="pswsecond" class="form-control" name="pswsecond" maxlength="30" type="password" required
           value=""  pattern="[\d_a-zA-Z]{1,80}$">
    <span class="note">用户密码</span>
    <span class="note-error"><i>&times;</i> 密码包含大写字母、小写字母、数字和特殊字符</span>
    <span class="note-error-empty"><i>&times;</i> 密码不得为空</span>
</div>
<div class="control-group">
    <label for="confirm"><span class="required">*</span>确认密码:</label>
    <input id="confirm" class="form-control" name="confirm" maxlength="30" type="password" required
           value="" pattern="[\d_a-zA-Z]{1,80}$">
    <span class="note">再次输入密码</span>
</div>
