{{#partial "realTitle"}}订单信息{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{inject "points_orderInfo" true}}
    </div>
{{/partial}}
{{> views/index_layout}}