//名单预览样式
.modal-sms-audit-style{
  width: 450px;
  height: 550px;
  .footer-style{
    margin-left: 200px;
  }
  .addWhiteName{
    display: none;
  }
  .js-sms-audit-submit{
    display: none;
  }
  .phoneNum{
    margin-left:60px;
    width:100px;
  }
  .cardNum{
    margin-left:50px;
    width:170px;
  }
}
.sms-preview-style{
  width: 400px;
  height: 200px;
}






