{{#partial "title"}}用户登录{{/partial}}
{{#partial "body"}}
    {{inject "header"}}
    {{inject "login"}}
    <div style="clear:both"></div>
    <div class="front-footer">
        <div class="session"></div>
        <div class="copyright">
            <span>Copyright © 2016广发银行 版权所有 粤ICP备 05058995 号</span>
        </div>
    </div>
{{/partial}}
{{> views/layout}}
