.cooperation-edit{

  .control-group {
    width: 50%;
  }
  .onlyOne{
    width: 100%;
  }
  .label-width{
    width:180px !important;
    height:29px;
  }
  .js-rate-add{
  /*  padding: 2px 5px;*/
    margin-left: 20px;
    margin-bottom: 20px;
  }
  /*.js-rate-delete{
    padding: 0px 5px;
  }*/
  .main-box-title2{
    font-size: 14px;
    font-weight: normal;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  .btn-setting {
    display: inline-block;
    line-height: normal !important;
    margin: 0 auto;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #f01919;
    color: #fff;
    width: 30px;
  }
  /*.main-box-title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
  }*/
  .span4{
    width: 400px;
  }
  .span5{
    width: 450px;
    padding: 0 5px;
    display: inline-block;
    zoom: 1;
    text-align: right;
  }
  /*.title{
    font-size: 16px;
    margin-left: 20px;
  }*/
  .submit{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .addMailStages{
    display:none !important;
  }
  .addStageRate{
    display:none !important;
  }

  /*二级菜单展开*/
  .subNav {
    border-bottom:solid 1px #e5e3da;
    cursor:pointer;
    font-weight:bold;
    font-size:14px;
    color:#333;
    line-height:28px;
    padding:20px 0px 20px 0;

  }
  .subNav:hover {
    color:#f01919;
  }
  .currentDd {
    color:#f01919;
  }
  .navContent {
    display: block;border-bottom:solid 0px #e5e3da;
  }

  .detail-close{
    float: right;
  }
  .detail-open{
    float: right;
    display: none;
  }
  .password-div{
    display: inline-block;
  }
}


















