<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-3.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <import resource="classpath*:/spring/category-service-context.xml"/>
    <context:component-scan
            base-package="com.spirit,cn.com.cgbchina.vendor,cn.com.cgbchina.web.common,cn.com.cgbchina.web.controller">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>


    <util:properties id="app" location="classpath:app.properties"/>

    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:exceptions</value>
            </list>
        </property>
        <property name="cacheSeconds" value="3600"></property>
        <property name="useCodeAsDefaultMessage" value="true"></property>
        <property name="defaultEncoding" value="UTF-8"></property>
    </bean>


    <import resource="classpath*:/spring/core-spirit-context.xml"/>
    <import resource="classpath*:/spring/rest-service-context.xml"/>
    <import resource="classpath*:/spring/web-context.xml"/>
    <bean id="beanCreator" class="com.spirit.event.creation.SpringBeanClassBasedListenerObjectCreator">
        <property name="packageNames">
            <list>
                <value>cn.com.cgbchina.vendor</value>
            </list>
        </property>
        <property name="scanSubpackages" value="true"/>
    </bean>
    <bean class="cn.com.cgbchina.common.utils.ExportUtils">
        <property name="downloadUrl" value="#{app.reportUrl}"/>
    </bean>
</beans>