.report_manage {
  .span-width{
    width:80px;
    cursor:pointer;
  }
  a {
    color:#328cff;
  }
  .span4{
    width: 280px!important;
  }
  p{
    display: inline-block;
    vertical-align: middle;
  }
 }