{{#partial "realTitle"}}商品变更审核{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{#inject "mall_item/item_view" true}}
            {
            "type":"4"
            }
        {{/inject}}
    </div>
{{/partial}}
{{> views/index_layout}}