{{#partial "realTitle"}}下架申请审核审核{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{#inject "mall_item/item_view" true}}
            {
            "type":"6"
            }
        {{/inject}}
    </div>
{{/partial}}
{{> views/index_layout}}