<!--商品管理 待初审tab type传入3-->
{{#partial "realTitle"}}商品管理{{/partial}}
{{#partial "realBody"}}
    <div class="container-components">
        {{#inject "mall_item/item_manage" true}}
            {
            "type":"3",
            "channel":"YG"
            }
        {{/inject}}
    </div>
{{/partial}}
{{> views/index_layout}}