<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <appSettings>
    <add key="PortName" value="COM3"/>
    <add key="BaudRate" value="2400"/>
    <add key="DataBits" value="7"/>
    <add key="Parity" value="2"/>
    <add key="StopBits" value="1"/>
    <add key="Handshake" value="0"/>
    <add key="Url" value="http://localhost"/>
  </appSettings>
</configuration>
