.icon-close {
  display: block;
  background-image: url("/static/images/icons.png");
  background-position: -156px -30px;
  width: 16px;
  height: 16px;
}
.icon-error-icons {
  display: block;
  background-image: url("/static/images/icons.png");
  background-position: -172px -30px;
  width: 16px;
  height: 16px;
}
.icon-error {
  display: block;
  background-image: url("/static/images/icons.png");
  background-position: -88px -105px;
  width: 36px;
  height: 36px;
}
.icon-icons-cat {
  display: block;
  background-image: url("/static/images/icons.png");
  background-position: -104px -47px;
  width: 50px;
  height: 47px;
}
.icon-icons-item {
  display: block;
  background-image: url("/static/images/icons.png");
  background-position: 0px -52px;
  width: 51px;
  height: 53px;
}
.icon-icons-one {
  display: block;
  background-image: url("/static/images/icons.png");
  background-position: -53px -50px;
  width: 45px;
  height: 52px;
}
.icon-icons-price {
  display: block;
  background-image: url("/static/images/icons.png");
  background-position: -53px 0px;
  width: 51px;
  height: 50px;
}
.icon-icons-price2 {
  display: block;
  background-image: url("/static/images/icons.png");
  background-position: -104px 0px;
  width: 52px;
  height: 47px;
}
.icon-icons-price3 {
  display: block;
  background-image: url("/static/images/icons.png");
  background-position: 0px 0px;
  width: 53px;
  height: 52px;
}
.icon-icons-true {
  display: block;
  background-image: url("/static/images/icons.png");
  background-position: -48px -105px;
  width: 40px;
  height: 40px;
}
.icon-jia8 {
  display: block;
  background-image: url("/static/images/icons.png");
  background-position: -181px -46px;
  width: 9px;
  height: 9px;
}
.icon-jian8 {
  display: block;
  background-image: url("/static/images/icons.png");
  background-position: -172px -46px;
  width: 9px;
  height: 9px;
}
.icon-null {
  display: block;
  background-image: url("/static/images/icons.png");
  background-position: 0px -105px;
  width: 48px;
  height: 48px;
}
.icon-search-btn {
  display: block;
  background-image: url("/static/images/icons.png");
  background-position: -156px 0px;
  width: 40px;
  height: 30px;
}
.icon-success-icons {
  display: block;
  background-image: url("/static/images/icons.png");
  background-position: -156px -46px;
  width: 16px;
  height: 16px;
}
