<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="cn.com.cgbchina.trade.model.DeadlineModel" alias="DeadlineModel"/>
        <typeAlias type="cn.com.cgbchina.trade.model.OrderSubModel" alias="OrderSub"/>
        <typeAlias type="cn.com.cgbchina.trade.model.OrderMainModel" alias="OrderMain"/>
        <typeAlias type="cn.com.cgbchina.trade.model.OrderTransModel" alias="OrderTrans"/>
        <typeAlias type="cn.com.cgbchina.trade.model.OrderGoodsDetailModel" alias="OrderGoodsDetail"/>
        <typeAlias type="cn.com.cgbchina.trade.model.OrderDoDetailModel" alias="OrderDoDetail"/>
        <typeAlias type="cn.com.cgbchina.trade.model.OrderPartBackModel" alias="OrderPartBackModel"/>
        <typeAlias type="cn.com.cgbchina.trade.model.OrderPartBackModel" alias="OrderPartBackModel"/>
        <typeAlias type="cn.com.cgbchina.trade.model.OrderReturnTrackModel" alias="OrderReturnTrackModel"/>
        <typeAlias type="cn.com.cgbchina.trade.model.TblOrderHistoryModel" alias="TblOrderHistoryModel"/>
        <typeAlias type="cn.com.cgbchina.trade.model.TblOrdermainHistoryModel" alias="TblOrdermainHistoryModel"/>
        <typeAlias type="cn.com.cgbchina.trade.model.TblOrderExtend1Model" alias="TblOrderExtend1Model"/>
        <typeAlias type="cn.com.cgbchina.trade.model.OrderCheckModel" alias="OrderCheckModel"/>
        <typeAlias type="cn.com.cgbchina.trade.model.OrderClearModel" alias="OrderClearModel"/>
        <typeAlias type="cn.com.cgbchina.trade.model.TblMakecheckjobHistoryModel" alias="TblMakecheckjobHistoryModel"/>
        <typeAlias type="cn.com.cgbchina.trade.model.OrderClearModel" alias="OrderClearModel"/>
        <typeAlias type="cn.com.cgbchina.trade.model.OrderReturnTrackDetailModel" alias="OrderReturnTrackDetailModel"/>
        <typeAlias type="cn.com.cgbchina.trade.model.OrderOutSystemModel" alias="OrderOutSystemModel"/>
        <typeAlias type="cn.com.cgbchina.trade.model.BuyCountModel" alias="BuyCountModel"></typeAlias>
    </typeAliases>
</configuration>
