.risk-point-module{
    float: left;
    width: 612px;
    height: 823px;
    text-align: left;
    background: #18181a;
}
.risk-point-module .point-div{
    width: 594px;
    height:730px;
    overflow: auto;
}
.point-div .risk-ul-module {
    width: 560px;
}
.point-div .risk-ul-module ul {
    margin:2px 0 10px 100px;
}
.point-div .risk-ul-module ul li{
    line-height: 30px;
    list-style: disc;
}
.risk-point-module .point-div .risk-title{
    font-size: 20px;
    line-height: 48px;
    height: 48px;
    padding-left: 10px;
    color: #00A2EC;
}
.risk-point-module .point-div .risk-title i{
    display: inline-block;
    width: 32px;
    height:42px;
    background: url("../image/flag.png") no-repeat;
    vertical-align: bottom;
    margin: 0 20px 0 20px;
}
.risk-point-module .box-right-title{
    width: 598px;
}
.b-r-12{
    border-right: solid #282c2f 12px;
}