@charset "utf-8";
/* CSS Document */
html, body, div, h1, h2, h3, h4, h5, h6, header, menu, p, dl, dt, dd, ul, li, form, button, input, textarea, select, table, th, td, tr, img, span, strong, em, u, i, b {
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	outline: none;
	list-style: none;
	resize: none;
	color: #fff;
	font-family: "微软雅黑", "Microsoft Yahei", "simsun";
	font-size: 12px;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	min-width: 1300px;
	height: 100%;
	overflow: auto;
}
/* Links */
a {
	color: #1d93ed;
	outline: 0;
	text-decoration: none;
}
a:hover {
	color: #0e6ab0;
	text-decoration: underline;
}
img {
	border: none;
	vertical-align: middle;
}
.header {
	width: 100%;
	min-width: 1300px;
	height: 121px;
	background: url(../image/header-bg.png) repeat-x;
}
.header > .header-log {
	display: block;
	float: left;
	margin-left: 30px;
	line-height: 90px;
	text-align: center;
}
.header > .header-nav {
	position: relative;
	display: block;
	float: right;
	padding: 0 10px;
}
.header > .header-nav > ul > li.on {
	background: url(../image/left-btn-on-left.png) no-repeat left 0;

}
.header > .header-nav > ul > li {
	position: relative;
	display: block;
	float: left;
	height: 45px;
	padding: 0 15px;
	margin: 24px 5px 0 5px;
	background: url(../image/header-menu-bg-left.png) no-repeat left 0;
	cursor: pointer;
}
.header > .header-nav > ul > li.on > a,.header > .header-nav > ul > li:hover> a {
	background: url(../image/left-btn-on-line.png) repeat-x;

}
.header > .header-nav > ul > li > a {
	display: block;
	min-width: 100px;
	height: 45px;
	background: url(../image/header-menu-bg-middle.png) repeat-x;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
	color: #fff;
	text-decoration: none;
}
.header > .header-nav > ul > li.on > a:after,.header > .header-nav > ul > li:hover > a:after{
	background: url(../image/left-btn-on-right.png);

}
.header > .header-nav > ul > li > a:after {
	position: absolute;
	top: 0;
	right: 0;
	width: 15px;
	height: 45px;
	background: url(../image/header-menu-bg-right.png);
	content: '';
}
.header > .header-nav > ul > li:hover{
	background: url(../image/left-btn-on-left.png) no-repeat left 0;
}
.header > .header-btn {
	display: block;
	float: right;
	width: 108px;
	height: 95px;
	padding-top: 15px;
	border-left: solid 2px #222;
	text-align: center;
	cursor: pointer;
}
.header > .header-btn span {
	display: block;
	font-size: 15px;
	color: #fff;
}
.header > .header-nav > .header-nav-btn > .next, .header > .header-nav > .header-nav-btn > .prev {
	position: absolute;
	top: -68px;
	display: block;
}
.header > .header-nav > .header-nav-btn > .next a, .header > .header-nav > .header-nav-btn > .prev a {
	min-width: 20px;
	font-family: "宋体";
	font-weight: bold;
}
.header > .header-nav > .header-nav-btn > .next.disable a, .header > .header-nav > .header-nav-btn > .prev.disable a {
	color: #666;
}
.header > .header-nav > .header-nav-btn > .next {
	right: 0;
}
.header > .header-nav > .header-nav-btn > .prev {
	left: 0;
}
.header-nav-btn {
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	bottom: 0;
}
.header > .header-nav.header-nav-spac {
	padding: 0 60px;
	margin-right: 20px;
}

.wrap{width:1920px;height:1080px;}
.container{width:100%;height:100%;background:url(../image/all-bg.jpg) center no-repeat;}
.box{padding: 20px 40px 38px 40px;}
.small-box{
	width: 389px;
	height: 282px;
	border:2px solid #000;
	background: #171718;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 0 0 1px 0 #fff;
}
.small-box .title{
	padding:20px;
	font-size:18px;
}
.small-box .small-box-img3{
	margin:20px auto;
	width: 350px;
	display: block;
}
.small-box .small-box-img1{
	margin: auto;
	width: 342px;
	display: block;
}
.small-box .small-box-form{
	width: 370px;
	height: 248px;
}
.small-box4 .title,.big-box .title{
	padding: 20px 20px  0 20px;
}
.small-box4 .alarm,.small-box4 .risk{
	float: right;
}
.small-box4 .alarm i,.small-box4 .risk i{
	display: inline-block;
	width: 25px;
	height: 10px;
	margin: 0 8px 0 16px;
}
.small-box4 .alarm i{background: #007498}
.small-box4 .risk i{background: #ff0000}

.big-box{
	width: 389px;
	height: 584px;
	border:2px solid #000;
	background: #171718;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 0 0 1px 0 #fff;
}
.big-box .small-box-form6{
	width: 388px;
	height: 535px;
}
.center-box{
	width: 1008px;
	height: 885px;
	border:2px solid #000;
	background: #171718;
	box-shadow: 0 0 1px 0 #fff;
}
.center-box .center-box-container{
	width: 1005px;
	height: 810px;
}
/*左边框*/
.l-title{
	height: 60px;
	line-height: 60px;
	padding-left:20px;
}
.l-title span{
	font-size: 18px;
	color: #fff;
}
.end{
	display: inline-block;
	width: 30px;
	height: 10px;
	margin-right: 10px;
	background:  #61a12e;
}
.l-content{
	margin-left: 20px;
}
.l-content > div{
	font-size: 16px;
	color: #fff;
	width: 100%;
	height: 30px;
	overflow: hidden;
}
.l-content span{
	display: inline-block;
	color: #fff;
	font-size: 16px;
}
.l-content p{
	display: inline-block;
	width: 200px;
	margin-bottom: 15px;
}
.l-content p > span{
	display: inline-block;
	height: 17px;
	color: #fff;

}
.red-font{
	color: #ff0000!important;
	margin-right: 10px;
}
.yellow-font{
	color: #EC7616!important;
	margin-right: 10px;
}
.line-font{
	line-height: 17px;
	text-align: center;
	vertical-align: middle;
}

.green{
	
	background: url(../image/line-green.jpg) center repeat-x;
}
.red{
	
	background: url(../image/line-red.jpg) center repeat-x;
}
.orange{
	
	background: url(../image/line-orange.jpg) center repeat-x;
}

.yellow{
	
	background: url(../image/line-yellow.jpg) center repeat-x;
}

.line{
	border-bottom: 1px solid #2f2f30;
}
.line1 {
	margin: 10px;
	border-bottom: 1px solid #2f2f30;
}

/*中间部分*/
.c-logo{
	width: 310px;
	height: 62px;
	line-height: 50px;
	text-align: left;
	margin-top: 20px;
	background: url(../image/radar-title-bg.png) center no-repeat;
	
}
.c-logo span{
	font-size: 28px;
	padding-left: 5px;
	color: #fff;
}

/*右边框*/

.xs-title{
	width: 386px;
	height: 85px;
	margin: 5px 0 10px 0;
	background: url(../image/title-bg.png) center no-repeat;
}
.xs-title span{
	display: inline-block;
	width: 160px;
	height: 30px;
	padding: 26px;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	
}
.content-list{
	width: 350px;
	height: 85px;
	margin:5px 20px 0 20px;
	
}
.content-list li{
	float: left;
	width: 170px;
	
}
.content-list li>p{
	display: inline-block;
}
.describe{
	width: 80px;
	padding: 4px;
	text-align: center;
	font-size: 18px;
}
.num{
	display: block;
	font-size: 40px;
	text-align: center;
	color: #fff;
}
.describe span:first-child{
	font-size: 16px;
	color: #fff;
}
.icon{
	position: relative;
	width: 62px;
	height: 62px;
	background: url(../image/icon-bg.png) center no-repeat;
}
.sub-icon{
	position: absolute;
	top: 13px;
	left: 12px;
	display: block;
	width: 36px;
	height: 36px;

}
.icon01{
	
	background: url(../image/icon01.png) center no-repeat;
}
.icon02{
	
	background: url(../image/icon02.png) center no-repeat;
}
.icon03{
	
	background: url(../image/icon03.png) center no-repeat;
}
.icon04{
	
	background: url(../image/icon04.png) center no-repeat;
}

.footer{
	text-align: center;
	font-size: 14px;
	color: #fff;
}

/*布局样式*/

.font-42{
	font-size: 42px!important;
}

/*条形宽度百分比*/
.wh10{
	width: 10%;
}
.wh20{
	width: 20%;
}
.wh30{
	width: 30%;
}
.wh40{
	width: 40%;
}
.wh45{
	width: 45%;

}
.wh50{
	width: 50%;
}

.wh60{
	width: 60%;
}

.wh70{
	width: 70%;
}

.wh80{
	width: 80%;
}

.wh90{
	width: 90%;
}

.wh100{
	width: 100%;
}

.m-t-15{margin-top: 15px}
.m-t-10{margin-top: 10px;}
.m-r-20{margin-right: 20px;}
.m-l-20{margin-left: 20px;}
.ml-10{
	margin-left: -10px;
}
.m-r-40{margin-right: 40px;}

.left{float: left;}
.right{float: right;}
.clear{clear: both;}
/*仪表盘新增 文字*/
.businessSpan {
	margin-top: 90px;
	margin-left: 165px;
}
.absoluteSpan {
	position: absolute;
	color: #fff;
	font-size: 20px;
	z-index: 5;
	top: 18px;
	left: 10px;
}
#riskSpan{
	top: 138px;
	left: 94px;
}
.businessDataSpan {
	position: absolute;
	color: #fff;
	font-size: 20px;
	z-index: 5;
	top: 224px;
	left: 184px;
}
/*按钮样式*/
.btn-cm{
	position: relative;
	display: block;
	height: 45px;
	text-align: center;
	line-height: 45px;
	margin-left: 15px;
	color: #fff;
	font-size: 20px;
	background: url(../image/left-btn-line.png);
}
.btn-cm:before,.btn-cm:after{
	position: absolute;
	top: 0;
	width: 15px;
	height: 45px;
	content: '';
}
.btn-cm:before{
	left: -15px;
	background: url(../image/left-btn-left.png);
}
.btn-cm:after{
	right: -15px;
	background: url(../image/left-btn-right.png);
}
.btn-group li:hover .btn-cm{
	color:#fff;
}
.btn-group li.on .btn-cm,.btn-group li:hover .btn-cm{    background: url(../image/left-btn-on-line.png);}
.btn-group li.on .btn-cm:before,.btn-group li:hover .btn-cm:before{background: url(../image/left-btn-on-left.png);}
.btn-group li.on .btn-cm:after,.btn-group li:hover .btn-cm:after{background: url(../image/left-btn-on-right.png);	}