<div class="modal modal-dialog">
  <div class="modal-dialog-icon">
    <i class="icon-success"></i>
  </div>
  <div class="modal-dialog-message">
    <h3>{{title}}</h3>
    <p>{{content}}</p>
    <div class="modal-controls">
      <a href="/mmc/mall/item/item-category" class="btn btn-success btn-medium" style="color:#fff;">
        继续发商品
      </a>
      &nbsp;
      <a href="/mmc/mall/item/all-goods" class="btn btn-info btn-medium" style="color: #717171;">返回</a>
    </div>
  </div>
</div>
