<div class="modal recom-goods-modal">
    <div class="modal-header">
        <a href="#" class="close">×</a>
        <h2>关联推荐商品</h2>
    </div>
    <div class="modal-body">
        <p class="filter-name">
            <label>名称/编码</label>
            <input type="text" class="js-recom-val input-width-300" value="" />
            <input type="button" class="btn btn-small padding btn-info js-recom-search" value="查询"/>
        </p>
        <div class="pro-select"></div>
    </div>
    <div class="modal-footer">
        <div class="modal-footer">
            <input type="submit" class="btn btn-success btn-small js-recom-sure" value="确定">
            <button class="btn btn-close btn-small close">取消</button>
        </div>
    </div>
</div>

