<div class="modal html_vendor_modal">
    <div class="modal-header">
        <a href="javascript:void(0)" class="close">×</a>
        <h2>指定</h2>
    </div>
    <div class="modal-body">
        <table class="table-0 modal-body-table" width="0" border="0">
            <tr>
                <td>选择供应商：
                    <input type="text" class="form-control order-form col-3 form-gray-txt vendor-search-value"
                           placeholder="请输入供应商">
                    <a href="#" class="btn-upload margin-left-10 js-search-btn">搜索</a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="setting-scrll">
                        <table class="table-list">
                            <tbody>
                            <tr>
                                <td width="5%"><input type="radio" name="updateOper" checked="checked" value=""></td>
                                <td width="95%">
                                   内管
                                </td>
                            </tr>
                            {{#each list}}
                                <tr>
                                    <td width="5%"><input type="radio" name="updateOper"
                                                          value="{{this.vendorId}}"></td>
                                    <td width="95%">{{this.simpleName}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <div class="modal-footer">
            <a class="btn btn-success btn-small js-save-vendor" data-id="{{actId}}" href="javascript:void(0)">确定</a>
        </div>
    </div>
</div>