{{#each list}}
    <tr>
        <td width="5%">
            <input type="radio" name="updateOper" value="{{this.vendorId}}">
        </td>
        <td width="95%">{{this.simpleName}}</td>
    </tr>
{{/each}}
