body{
		border:solid #7BC5EA 1px; 
		margin: 0;
		font-size:15pt;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		padding: 15px 0;
		background:url(../img/pic1.jpg);
}

#body1 {
	font-size:15pt;
	color:#001A33;
}
tbody tr{
	
}
.item_tmp {
	font-size:15pt;
	color:#001A33;
	width:500pt;
	font-weight:bold;

}

#leave_content textarea{
	font-size:15pt;
	background:url();
	WIDTH: 520px;
	HEIGHT: 155px;
	border:solid #7BC5EA 1px;
	
}
#vercode input{
	font-size:15pt;
	background:url();
	border:solid #7BC5EA 1px;
			
}
