body{
		margin: 0;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		padding: 15px 0;
}
#wholepage{
		width: 880px;
		margin: 0 auto;
}
#by{
		width: 1000px;
		margin: 0 auto;
		float:left;
		background: url(../img/readlog1.jpg) no-repeat;
}
#by b_left{
	padding: 100px 50px 50px 50px;
	margin: 0 auto 0 auto;
	width:180px;
	float:left;
	clear:left;
}
#bl_top{
	width:200px;
	height:200px;
	
	float:left;
	clear:left;
}
#form1{
	display: block;
	margin-left:-10px;
	float:left;
	clear:left;
	width: 180px;
	height: 50px;
}
.confirm{
	border:0;
	color:#ddd;
	cursor:pointer;
	background: url(../img/btn2.png) 28% no-repeat;
}
.confirm:HOVER{
	border:0;
	color:#fff;
	cursor:pointer;
	background: url(../img/btnl2.png) 28% no-repeat;
}
#bl_mid{
	font-size:16px;
	width:200px;
	color:#acb;
	float:left;
	clear:left;
}
#bl_mid table1{
	display:block;
	color:#acb;
	margin-top:10px;
	width:200px;
	float:left;
	clear:left;
}
#jia{
display:block;
margin-left: 30px;
margin-top:20px;
float:left;
clear:left;
border:0;
color:#ddd;
cursor:pointer;
background: url(../img/btn2.png) 55% no-repeat;
}
#jia:HOVER{
display:block;
margin-left: 30px;
margin-top:20px;
float:left;
clear:left;
border:0;
color:#fff;
cursor:pointer;
background: url(../img/btnl2.png) 55% no-repeat;
}

#bl_bottom{
	height:200px;
	width:200px;
	margin-top:30px;
	float:left;
	clear:left;
	background: url(../img/love1.png) top left no-repeat;
}
#bl_bottom a{
	float:left;
	display: block;
	height:30px;
	width:130px;
	line-height: 20px;
	text-align:center;
	padding-left:0;
	padding-top:50px;
	font-size: 20px;
	font-weight: bold;
	text-decoration:none;
	color:#ffa2fd;
}
#bl_bottom a:HOVER{
	color:#ffd;
}

#by b_center{
	margin:0 auto 0 auto;
	color:#b3fd13;
	float:left;	
	width:580px;
}
#xc{
	margin-top:100px;
	position:relative;
	width:580px;
}
.div2 li{
	background-color: #000;
	width: 190px;
	height: 148px;

}
.div li img{
		width: 190px;
		height: 148px;
}
#wz table{
	text-align:left;
	color:#dabfff;
	margin-top:46px;
	width:580px;
	padding-left: 0;
	border:solid 1px #fdc;	
}
#wz a{
	text-align:left;
	color:#a4ffa4;
	display: block;
	height: 16px;
	line-height: 16px;
	text-align:left;
	padding: 0 2px;
	font-size: 16px;
	text-decoration: none;
}
#wz a:HOVER{
	text-align:left;
	color:#1fff0f;
	display: block;
	height: 16px;
	line-height: 16px;
	text-align:left;
	padding: 0 2px;
	font-size: 16px;
	
	text-decoration: none;
}
#xq{
	color:#b3fd13;
	margin-top:30px;
	margin-left:200px;
	width:580px;

}

