<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <servlet>
  <servlet-name>ll</servlet-name>
  <servlet-class>com.lsh.qq.Action01</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>lq</servlet-name>
  <servlet-class>com.lsh.qq.Action02</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ll</servlet-name>
  <url-pattern>/01</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>lq</servlet-name>
  <url-pattern>/02</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>/page/b.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
