<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TblCfgIntegraltypeModel">
    <resultMap id="TblCfgIntegraltypeMap" type="TblCfgIntegraltypeModel">
        <result property="integraltypeId" column="integraltype_id"/>
        <result property="integraltypeNm" column="integraltype_nm"/>
        <result property="curStatus" column="cur_status"/>
        <result property="createOper" column="create_oper"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyOper" column="modify_oper"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>
    <sql id="columns">
    integraltype_id,integraltype_nm,cur_status,create_oper,create_time,modify_oper,modify_time
    </sql>

    <insert id="insert" parameterType="TblCfgIntegraltypeModel" useGeneratedKeys="true"
            keyProperty="integraltypeId" keyColumn="integraltype_id">
        insert into tbl_cfg_integraltype
        (integraltype_id
        ,integraltype_nm
        ,cur_status
        ,create_oper
        ,create_time
        ,modify_oper
        ,modify_time)
        values(#{integraltype_id}
        ,#{integraltypeNm}
        ,#{curStatus}
        ,#{createOper}
        ,now()
        ,#{modifyOper}
        ,now())
    </insert>

    <update id="update" parameterType="TblCfgIntegraltypeModel">
        update tbl_cfg_integraltype set
        <if test="integraltypeNm !=null">integraltype_nm = #{integraltypeNm}
            ,
        </if>
        <if test="curStatus !=null">cur_status = #{curStatus}
            ,
        </if>
        <if test="createOper !=null">create_oper = #{createOper}
            ,
        </if>
        <if test="createTime !=null">create_time = #{createTime}
            ,
        </if>
        <if test="modifyOper !=null">modify_oper = #{modifyOper}
            ,
        </if>
        <if test="modifyTime !=null">modify_time = now()
        </if>
        where integraltype_id = #{integraltypeId}
    </update>

    <sql id="conditions">
        <where>
            <if test="integraltypeId !=null">and integraltype_id = #{integraltypeId}</if>
            <if test="integraltypeNm !=null">and integraltype_nm = #{integraltypeNm}</if>
            <if test="curStatus !=null">and cur_status = #{curStatus}</if>
            <if test="createOper !=null">and create_oper = #{createOper}</if>
            <if test="createTime !=null">and create_time = #{createTime}</if>
            <if test="modifyOper !=null">and modify_oper = #{modifyOper}</if>
            <if test="modifyTime !=null">and modify_time = #{modifyTime}</if>
        </where>
    </sql>
    <select id="findById" parameterType="String" resultMap="TblCfgIntegraltypeMap">
        SELECT
        <include refid="columns"/>
        from tbl_cfg_integraltype
        where integraltype_id=#{integraltypeId}
    </select>
    <select id="findAll" resultMap="TblCfgIntegraltypeMap">
        select
        <include refid="columns"/>
        from tbl_cfg_integraltype
        <include refid="conditions"/>
    </select>
    <!--总数count-->
    <select id="count" resultType="Long">
        select count(1)
        from tbl_cfg_integraltype
        WHERE
        <include refid="conditions"/>
    </select>
    <select id="pager" parameterType="Map" resultMap="TblCfgIntegraltypeMap">
        select id,
        <include refid="columns"/>
        from tbl_cfg_integraltype
        <include refid="conditions"/>
        <![CDATA[ order by id desc limit #{offset}, #{limit} ]]>
    </select>
    <delete id="delete">
        delete from tbl_cfg_integraltype where id = integraltypeId
    </delete>

    <!-- add by geshuo 20160824: 查询积分类型列表 -->
    <select id="findByParams" parameterType="Map" resultMap="TblCfgIntegraltypeMap">
        select
        <include refid="columns"/>
        from tbl_cfg_integraltype
        <include refid="conditions"/>
    </select>
    <!-- add by zhoupeng 查询积分类型 list -->
    <select id="findByIds" parameterType="List" resultMap="TblCfgIntegraltypeMap">
        SELECT
        <include refid="columns"/>
        FROM tbl_cfg_integraltype
        WHERE integraltype_id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.integralType}
        </foreach>
    </select>
</mapper>


