.login-site {
  background-color: #11345F;
  position: absolute;
  width: 100%;
  height: 100%;
  .login {
    position: absolute;
    width: 330px;
    height: 252px;
    top: 50%;
    left: 50%;
    margin: -126px 0 0 -165px;
    .platform-info {
      margin: 0 40px 5px 40px;
      .company-logo {
        display: inline;
        i {
        }
        margin-right: 10px;
        height: 35px;
      }
      .platform-name {
        display: inline;
        i {
        }
      }
    }
    .login-screen {
      width: 330px;
      height: 200px;
      background-color: #F4F4F4;
      border-radius: 5px;
      form {
        padding: 45px 0;
      }

      .login-right {
        width: 340px;
        position: absolute;
        top: 120px;
        right: 60px;
        bottom: 50px;
      }
    }
  }
}

.form-user-login {
  padding: 20px;
  .control-group {
    text-align: left;
    label {
      width: 6.5em;
    }
    .login-img {
      vertical-align: middle;
    }
    input {
      margin-bottom: 0 !important;
    }
  }
  .password-label {
    width:auto !important;
    right: 0;
    top: inherit;
    margin-top: 4px;
    position: absolute;
    top: 127px;
    right: 73px;
  }

  .login-title {
    margin-bottom: 25px;
    font-size: 24px;
  }
  .password-div{
    display: inline-block;
  }
}

.content-login {
  width: 990px;
  margin: 0 auto;
  padding-top: 70px;
}

.login-code {
  width: 108px;
  font-size: 14px;
  color: #999;
  height: 37px;
  line-height: 37px;
  padding-left: 5px;
}

.login-box-warp {
  width: 440px;
  position: absolute;
  top: 220px;
  margin-left: 520px;
  .title {
    margin-bottom: 25px;
    font-size: 24px;
  }
  input.login {
    width: 230px;
    font-size: 14px;
    color: #999;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
  }

  input.login-btn {
    //border: none !important;
    //background-color: #EF1919 !important;
    //color: #fff;
    //font-size: 14px;
    width: 230px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 25px;
  }
}

.modal-modify-password {
  .control-group label {
    width: 76px;
  }
  .modal-body {
    width: 530px;
    min-height: 150px !important;
    overflow-y: hidden;
  }
  .main-box-title2 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 15px 20px;
    text-align: center;
  }
  .font-color-red {
    color: #333 !important;
  }
  .password-div {
    float: left;
  }
  .modify-password-div {
    height: 30px;
  }
  .text-hover-gray {
    text-align: right;
    color: #999 !important;
  }
}
